<div class="wfm-register_wrapper col-md-12 pt-3 pb-5 pl-4 pr-4">
  <h2>CLIENT ENTITIES LIST</h2>
  <div class="row">
    <div class="d-flex col-md-12 mb-3">
      <div class="flex-grow-1">
        <h2 class="float-left mb-0">{{clientName}}</h2>
      </div>
      <div class="flex-grow-1">
        <button (click)="openDialog(null)" class="float-right btn btn-sm btn-outline-primary">Add more +</button>
      </div>
    </div>
  </div>
  <div class="wfm-fees_limit-reached alert alert-warning text-center" *ngIf="isError">
    Sorry, no data found..!
  </div>
  <div class="wfm-fees_loader mat-elevation-z8" *ngIf="!isError">
    <div class="wfm-fees_container">
      <div class="wfm-fees_loader-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults" diameter="50"></mat-spinner>
      </div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="wfm-fees-table">

          <!-- Position Column -->
          <ng-container matColumnDef="entityName">
            <th mat-header-cell *matHeaderCellDef> Entity Name </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{'wfm-disable': element.isActive === false}">
              {{element.entityName}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="constitution">
            <th mat-header-cell *matHeaderCellDef> Constitution </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{'wfm-disable': element.isActive === false}">
              {{element.constitution}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="entityType">
            <th mat-header-cell *matHeaderCellDef> Entity Type </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{'wfm-disable': element.isActive === false}">
              {{element.entityType}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="pan">
            <th mat-header-cell *matHeaderCellDef> PAN </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{'wfm-disable': element.isActive === false}">
              {{element.pan}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="iecCode">
            <th mat-header-cell *matHeaderCellDef> IEC Code </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{'wfm-disable': element.isActive === false}">
              {{element.iecCode}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="llP_CIN">
            <th mat-header-cell *matHeaderCellDef> LLP CIN </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{'wfm-disable': element.isActive === false}">
              {{element.llP_CIN}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef width="250"> Action </th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element.isActive === true">
                <a href="javascript:void(0)" (click)="modifyClientEntity(
                element.id,
                element.clientId,
                element.entityName,
                element.entityType,
                element.pan,
                element.iecCode,
                element.constitution,
                element.llP_CIN,
                element.dob,
                element.aadharNumber,
                element.udyogAadhaar,
                element.natureofBusiness,
                element.efilingPassword
              )">Modify</a> &nbsp;/&nbsp;
                <a href="javascript:void(0)" (click)="goToBranch(element.id)">Go to branch</a>
                &nbsp;
                <span class="badge badge-warning p-1">
                  <a class="text-decoration-none text-dark font-weight-normal" href="javascript:void(0)"
                    (click)="deactivate(element.entityName, element.id)">Deactivate</a>
                </span>
              </ng-container>
              <ng-container *ngIf="!element.isActive === true">
                <span class="badge badge-success p-1">
                  <a class="text-decoration-none text-light font-weight-normal" href="javascript:void(0)"
                    (click)="activateEnt(element.entityName, element.id)">Activate</a>
                </span>
              </ng-container>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>

    </div>
  </div>
</div>
