.wfm-user {
  &_icon {
    width: 20px;
  }

  &_text {
    color: #fff;
    padding: 0.5rem;
  }

  &_wrap {
    padding: 10px 20px;
  }

}

.pointer {
  cursor: pointer !important;
}

::ng-deep .mat-menu-panel.logout-menu {
  min-height: 1rem;
}

::ng-deep .logout-menu button {
  float: left;
  height: 23px;
  line-height: normal;
  width: 100%;
  text-align: center;
}

::ng-deep .mat-menu-content{
  float: left;
  width: 100%;
}
