<header>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <button *ngIf="router.url.includes('register')" type="button" routerLink="/" class="text-white mt-3 btn-sm btn">
          Go back to Login</button>
        <ul *ngIf="!router.url.includes('register') && !router.url.includes('login')" class="wfm-nav">
          <li><a href="javascript:void(0)" routerLink="/dashboard">Dashboard</a></li>
          <li><a href="javascript:void(0)" routerLink="/services">Services</a></li>
          <li><a href="javascript:void(0)" routerLink="/feeschart">Fees chart</a></li>
          <li><a href="javascript:void(0)" routerLink="/clientlist">Client list</a></li>
          <li><a href="javascript:void(0)" routerLink="/quotation">Quotation list</a></li>
        </ul>
      </div>
      <div class="col-md-5 text-right">
        <div class="wfm-user_wrap float-right pointer"
          *ngIf="router.url.indexOf('login')==-1 && !router.url.includes('register') && userId" mat-button
          [matMenuTriggerFor]="beforeMenu">
          <span class="wfm-user_text">{{userId}}</span>
          <img src="../../assets/user.png" alt="prof-icon" class="wfm-user_icon" />
          <mat-menu #beforeMenu="matMenu" xPosition="before" class="logout-menu">
            <button mat-menu-item (click)="Logout()">Logout</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</header>
