<div class="wfm-register_wrapper no-shadow sleek-form">

  <div class="position-relative" mat-dialog-content>
    <button mat-dialog-close type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <ng-container *ngIf="!clientEntVerified">
      <h2 class="text-center">Please verify Client's Phone / Email</h2>
      <div class="d-flex justify-content-center">
        <div class="col-md-12 grey-bg">
          <div class="d-flex justify-content-center">
            <div class="col-md-8 mt-4 m-3 pl-5">
              <div *ngIf="otpVerified" class="alert alert-success" role="alert">
                <p class="m-2">Verification successful..!</p>
              </div>
              <div class="p-1 alert alert-danger text-center wfm-error" *ngIf="RegOtpErrOccured">
                {{RegOtpErrMsg}}
              </div>
              <ng-container *ngIf="!otpVerified">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12 mb-4">
                      <form [formGroup]="getOtpToMode">
                        <div class="row">
                          <div class="col-md-12">
                          </div>
                          <div class="col-md-12 wfm-client_verifyTick">
                            <div class="float-left switch">
                              <input type="radio" class="switch-input" formControlName="isEmail" name="isEmail"
                                value="false" id="phone" checked>
                              <label for="phone" class="switch-label switch-label-off">Phone</label>
                              <input type="radio" class="switch-input" formControlName="isEmail" name="isEmail"
                                value="true" id="email">
                              <label for="email" class="switch-label switch-label-on">Email</label>
                              <span class="switch-selection"></span>
                              <span id="msg">
                                <p class="pt-3 mb-0 text-warning" id="phnMsg">OTP will be send to Phone</p>
                                <p class="pt-3 mb-0 text-warning" id="emailMsg">OTP will be send to Email</p>
                              </span>
                            </div>
                            <div class="float-left ml-5 pt-3">
                              <ng-container *ngIf="!otpReceived">
                                <button type="submit" (click)="getOtpToType()"
                                  class="float-left btn btn-outline-primary btn-sm">Send OTP</button>
                                <span class="wfm-loader float-left ml-3" *ngIf="showLoaderForMobSolo">
                                  <mat-spinner diameter="28"></mat-spinner>
                                </span>
                              </ng-container>
                              <p *ngIf="otpReceived" class="text-success">OTP sent</p>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="col-md-12 mt-3">
                      <form [formGroup]="verifyOtpToMode">
                        <div class="row">
                          <div class="col-md-7 wfm-client_verifyTick">
                            <mat-form-field appearance="outline">
                              <mat-label>Enter OTP</mat-label>
                              <input matInput formControlName="otpfield" name="otpfield" required>
                            </mat-form-field>
                          </div>
                          <div class="col-md-5 pt-1">
                            <button *ngIf="!isMobVerified" type="submit" (click)="verifyOtpToType()"
                              class="float-left btn btn-success btn-sm">Verify</button>
                            <span class="wfm-loader float-left ml-3" *ngIf="showLoaderForMob">
                              <mat-spinner diameter="28"></mat-spinner>
                            </span>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="clientEntVerified">
      <h2 *ngIf="clientEntityData">MODIFY CLIENT ENTITY</h2>
      <h2 *ngIf="!clientEntityData">ADD CLIENT ENTITY</h2>
      <div class="d-flex justify-content-center">
        <div class="col-md-12 grey-bg">
          <div *ngIf="cliEntityStatus" class="alert alert-success" role="alert">
            <h4 class="alert-heading">Success!</h4>
            <p>Your entry has been updated</p>
          </div>
          <div *ngIf="cliEntyStatusFailure" class="mb-4 alert alert-danger" role="alert">
            {{RegOtpErrMsg}}
          </div>
          <form *ngIf="!cliEntityStatus" [formGroup]="clientEntity" (submit)="submitCLientEntity()">
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="cliEntName" class="form-control" name="cliEntName" required>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Type</mat-label>
                    <mat-select (selectionChange)="toggleIndividualField()" formControlName="cliEntType"
                      name="cliEntType" required>
                      <mat-option value="Business">Business</mat-option>
                      <mat-option value="Individual">Individual</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf="individualField">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>DOB</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="cliEntDob" class="form-control"
                      name="cliEntDob" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Aadhar</mat-label>
                    <input matInput formControlName="cliEntAadhar" class="form-control" name="cliEntAadhar" required>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Udyog Aadhar</mat-label>
                    <input matInput formControlName="cliEntUAadhar" class="form-control" name="cliEntUAadhar" required>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>PAN</mat-label>
                    <input matInput formControlName="cliEntPan" class="form-control" name="cliEntPan" required>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Import/Export Code</mat-label>
                    <input matInput formControlName="cliEntCode" class="form-control" name="cliEntCode" required>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Constitution</mat-label>
                    <mat-select formControlName="cliEntConstituition" name="cliEntConstituition" required>
                      <mat-option value="Company">Company</mat-option>
                      <mat-option value="Proprietorship">Proprietorship</mat-option>
                      <mat-option value="Partnership">Partnership</mat-option>
                      <mat-option value="LLC">LLC</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>LLC/CIN</mat-label>
                    <input matInput formControlName="cliEntLlc" class="form-control" name="cliEntLlc" required>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Nature of Business</mat-label>
                    <input matInput formControlName="cliEntBusiness" class="form-control" name="cliEntBusiness"
                      required>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>E-Filling Password</mat-label>
                    <input matInput formControlName="cliEntPwd" class="form-control" name="cliEntPwd" required>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <hr class="mb-3">
              </div>
              <div class="col-md-12">
                <button class="float-left btn btn-outline-success">Submit</button>
                <span class="wfm-loader float-left ml-3" *ngIf="showLoaderSubmit">
                  <mat-spinner diameter="28"></mat-spinner>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </ng-container>
  </div>
</div>
