<mat-form-field *ngIf="controlParam?.dataType=='Textarea'"appearance="outline">
    <mat-label>{{controlParam?.name}}</mat-label>  
    <input (change)="textchanged($event)" type="text" [value]="value"  matInput placeholder="{{controlParam?.name}}">
 </mat-form-field>

 

 <mat-form-field *ngIf="controlParam?.dataType=='Selection'" appearance="outline">
    <mat-label>{{controlParam?.name}}</mat-label>
    <mat-select [value]="value" (selectionChange)="selectChanged($event)">
       <ng-container *ngFor="let option of controlParam?.selections">
            <mat-option  value="{{option.value}}">{{option.name}}</mat-option>
      </ng-container>>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="controlParam?.dataType=='DatePicker'" appearance="outline">
   <mat-label>{{controlParam?.name}}</mat-label>
   <input matInput [matDatepicker]="picker" (dateChange)="dateChanged($event)" (dateInput)="dateChanged($event)">
   <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
   <mat-datepicker #picker></mat-datepicker>
 </mat-form-field>

 <ng-container *ngIf="controlParam?.dataType=='Attachment'" appearance="outline">

   <label for="{{'file'+controlParam?.formControlName}}">{{controlParam?.name}}</label>
    <input (change)="onFileChange($event)" type="file" class="form-control-file" id="{{'file'+controlParam?.formControlName}}">
  
 </ng-container>

 <ng-container *ngIf="!controlParam?.dataType && controlParam?.isAction" appearance="outline">
   <button (click)="onActionClick(controlParam)"  type="button" class="mb-3 float-right btn btn-outline-primary btn-sm">{{controlParam?.name}}</button>  
 </ng-container>
 
 