<div class="wfm-register_wrapper col-md-12 pt-3 pb-5 pl-4 pr-4">
    <h2>BANK LIST</h2>
    <div class="row">
      <div class="d-flex col-md-12 mb-3">
        <div class="flex-grow-1">
          <h3 class="float-left mt-2 mb-0">Branch Name : {{branchName}}</h3>
        </div>
        <div class="flex-grow-1">
          <button (click)="openDialog(null)" class="float-right btn btn-sm btn-outline-primary">Add more +</button>
        </div>
      </div>
    </div>
    <div class="wfm-fees_limit-reached alert alert-warning text-center" *ngIf="isError">
      Sorry, no data found..!
    </div>
    <div class="wfm-fees_loader mat-elevation-z8" *ngIf="!isError">
      <div class="wfm-fees_container">
        <div class="wfm-fees_loader-shade" *ngIf="isLoadingResults">
          <mat-spinner *ngIf="isLoadingResults" diameter="50"></mat-spinner>
        </div>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" class="wfm-fees-table">
  
            <!-- Position Column -->
            <ng-container matColumnDef="accountName">
              <th mat-header-cell *matHeaderCellDef> Acc Name </th>
              <td mat-cell *matCellDef="let element"> {{element.accountName}} </td>
            </ng-container>
  
            <!-- Name Column -->
            <ng-container matColumnDef="bankName">
              <th mat-header-cell *matHeaderCellDef> Bank Name</th>
              <td mat-cell *matCellDef="let element"> {{element.bankName}} </td>
            </ng-container>
  
            <ng-container matColumnDef="bankBranchName">
              <th mat-header-cell *matHeaderCellDef> Branch Name </th>
              <td mat-cell *matCellDef="let element"> {{element.bankBranchName}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <!-- Symbol Column -->
            <ng-container matColumnDef="accountNumber">
              <th mat-header-cell *matHeaderCellDef> Acc No. </th>
              <td mat-cell *matCellDef="let element"> {{element.accountNumber}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="customerId">
              <th mat-header-cell *matHeaderCellDef> Cust ID </th>
              <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="corporateId">
              <th mat-header-cell *matHeaderCellDef> Corp ID </th>
              <td mat-cell *matCellDef="let element"> {{element.corporateId}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="corporateUserId">
              <th mat-header-cell *matHeaderCellDef> Corp user ID </th>
              <td mat-cell *matCellDef="let element"> {{element.corporateUserId}} </td>
            </ng-container>
  
  
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element">
                <a href="javascript:void(0)" (click)="modifyBank(
                    element.id,
                    element.branchId,
                    element.bankBranchName,
                    element.bankName,
                    element.accountName,
                    element.accountNumber,
                    element.customerId,
                    element.iBankPassword,
                    element.corporateId,
                    element.corporateUserId,
                    element.closureDate
                  )">Modify</a>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
  
        </div>
  
      </div>
    </div>
  </div>
  