<div class="wfm-register_wrapper no-shadow">
  <div class="position-relative" mat-dialog-content>
    <button mat-dialog-close type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div *ngIf="modelType === 'modify'">
      <ng-container *ngIf="!clientEntVerified">
        <h2 class="text-center">Please verify Client's Phone / Email</h2>
        <div class="d-flex justify-content-center">
          <div class="col-md-12 grey-bg">
            <div class="d-flex justify-content-center">
              <div class="col-md-8 mt-4 m-3 pl-5">
                <div *ngIf="otpVerified" class="alert alert-success" role="alert">
                  <p class="m-2">Verification successful..!</p>
                </div>
                <div class="p-1 alert alert-danger text-center wfm-error" *ngIf="RegOtpErrOccured">
                  {{RegOtpErrMsg}}
                </div>
                <ng-container *ngIf="!otpVerified">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-12 mb-3">
                        <form [formGroup]="getOtpToMode">
                          <div class="row">
                            <div class="col-md-12">
                            </div>
                            <div class="col-md-12 wfm-client_verifyTick">
                              <div class="float-left switch">
                                <input type="radio" class="switch-input" formControlName="isEmail" name="isEmail"
                                  value="false" id="phone" checked>
                                <label for="phone" class="switch-label switch-label-off">Phone</label>
                                <input type="radio" class="switch-input" formControlName="isEmail" name="isEmail"
                                  value="true" id="email">
                                <label for="email" class="switch-label switch-label-on">Email</label>
                                <span class="switch-selection"></span>
                                <span id="msg">
                                  <p class="pt-3 mb-0 text-warning" id="phnMsg">OTP will be send to Phone</p>
                                  <p class="pt-3 mb-0 text-warning" id="emailMsg">OTP will be send to Email</p>
                                </span>
                              </div>
                              <div class="float-left ml-5 pt-3">
                                <ng-container *ngIf="!otpReceived">
                                  <button type="submit" (click)="getOtpToType()"
                                    class="float-left btn btn-outline-primary btn-sm">Send OTP</button>
                                  <span class="wfm-loader float-left ml-3" *ngIf="showLoaderForMobSolo">
                                    <mat-spinner diameter="28"></mat-spinner>
                                  </span>
                                </ng-container>
                                <p *ngIf="otpReceived" class="text-success">OTP sent</p>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="col-md-12 mt-3">
                        <form [formGroup]="verifyOtpToMode">
                          <div class="row">
                            <div class="col-md-7 wfm-client_verifyTick">
                              <mat-form-field appearance="outline">
                                <mat-label>Enter OTP</mat-label>
                                <input matInput formControlName="otpfield" name="otpfield" required>
                              </mat-form-field>
                            </div>
                            <div class="col-md-5 pt-1">
                              <button *ngIf="!isMobVerified" type="submit" (click)="verifyOtpToType()"
                                class="float-left btn btn-success btn-sm">Verify</button>
                              <span class="wfm-loader float-left ml-3" *ngIf="showLoaderForMob">
                                <mat-spinner diameter="28"></mat-spinner>
                              </span>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="clientEntVerified">
        <h2>Modify Client</h2>
        <div class="p-1 alert alert-danger text-center wfm-error" *ngIf="RegOtpErrOccured">
          {{RegOtpErrMsg}}
        </div>
        <div *ngIf="cliModifySuccess" class="alert alert-success" role="alert">
          <h4 class="alert-heading">Success!</h4>
          <p>Client data has been modified</p>
        </div>
        <div *ngIf="!cliModifySuccess" class="d-flex justify-content-center">
          <div class="col-md-12 grey-bg">
            <form [formGroup]="clientDetails" (submit)="submitClientOtp(null)">
              <ng-template matStepLabel>Enter client details</ng-template>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <label class="form-check-label">Title*</label>
                    <div class="wfm-checkbox_wrap">
                      <mat-radio-group formControlName="ctitle" name="ctitle" required>
                        <mat-radio-button value="Mr">Mr</mat-radio-button>
                        <mat-radio-button value="Ms">Ms</mat-radio-button>
                        <mat-radio-button value="Mrs">Mrs</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>First name</mat-label>
                      <input matInput formControlName="cname" name="cname" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Middle name</mat-label>
                      <input matInput formControlName="cmname" name="cmname" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Last name</mat-label>
                      <input matInput formControlName="clname" name="clname" required>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Mobile number</mat-label>
                      <input matInput type="number" formControlName="cmobile" name="cmobile" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Email</mat-label>
                      <input matInput type="email" formControlName="cemail" name="cemail" required>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="form-group mt-3 mb-0">
                <div class="row">
                  <div class="col-md-12">
                    <button type="submit" class="float-left btn btn-success btn-sm">Submit</button>
                    <span class="wfm-loader float-left ml-3" *ngIf="showLoader">
                      <mat-spinner diameter="28"></mat-spinner>
                    </span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </ng-container>
    </div>
    <div *ngIf="modelType === 'add'">
      <h2>CLIENT CHART FORM</h2>
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="clientDetails">
          <div class="p-1 alert alert-danger text-center wfm-error" *ngIf="RegErrOccured">
            {{RegErrMsg}}
          </div>
          <form [formGroup]="clientDetails" (submit)="submitClientOtp(stepper)">
            <ng-template matStepLabel>Enter client details</ng-template>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <label class="form-check-label">Title*</label>
                  <div class="wfm-checkbox_wrap">
                    <mat-radio-group formControlName="ctitle" name="ctitle" required>
                      <mat-radio-button value="Mr">Mr</mat-radio-button>
                      <mat-radio-button value="Ms">Ms</mat-radio-button>
                      <mat-radio-button value="Mrs">Mrs</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="cname" name="cname" required>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Middle name</mat-label>
                    <input matInput formControlName="cmname" name="cmname" required>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="clname" name="clname" required>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Mobile number</mat-label>
                    <input matInput type="number" formControlName="cmobile" name="cmobile" required>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="cemail" name="cemail" required>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="form-group mt-3 mb-0">
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="float-left btn btn-success btn-sm">Send OTP</button>
                  <span class="wfm-loader float-left ml-3" *ngIf="showLoader">
                    <mat-spinner diameter="28"></mat-spinner>
                  </span>
                </div>
                <div class="col-md-12">
                  <p class="pt-3 mb-0 text-warning">(OTP will be sent to both Email & Mobile for verification)</p>
                </div>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="verifyClientOtp">
          <div class="p-1 alert alert-danger text-center wfm-error" *ngIf="RegOtpErrOccured">
            {{RegOtpErrMsg}}
          </div>
          <div *ngIf="otpVerified" class="alert alert-success" role="alert">
            <h4 class="alert-heading">Success!</h4>
            <p>Client has been added</p>
          </div>
          <ng-template matStepLabel>Verify OTP</ng-template>
          <div *ngIf="!otpVerified">
            <form [formGroup]="verifyClientMobOtp">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5 wfm-client_verifyTick">
                    <mat-form-field appearance="outline">
                      <mat-label>Enter mobile OTP</mat-label>
                      <input matInput formControlName="cmobotp" name="cmobotp" required>
                    </mat-form-field>
                    <span class="wfm-success float-left" *ngIf="isMobVerified">
                      <img src="../../assets/tick.png" alt="tick" />
                    </span>
                  </div>
                  <div class="col-md-5 pt-1">
                    <button *ngIf="!isMobVerified" type="submit" (click)="verifyClientMobile()"
                      class="float-left btn btn-outline-primary btn-sm">Verify</button>
                    <span class="wfm-loader float-left ml-3" *ngIf="showLoaderForMob">
                      <mat-spinner diameter="28"></mat-spinner>
                    </span>
                  </div>
                </div>
              </div>
            </form>
            <form [formGroup]="verifyClientEmailOtp">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5 wfm-client_verifyTick">
                    <mat-form-field appearance="outline">
                      <mat-label>Enter email OTP</mat-label>
                      <input matInput formControlName="cemailotp" name="cemailotp" required>
                    </mat-form-field>
                    <span class="wfm-success float-left" *ngIf="isEmailVerified">
                      <img src="../../assets/tick.png" alt="tick" />
                    </span>
                  </div>
                  <div class="col-md-5 pt-1">
                    <button type="submit" (click)="verifyClientEmail()" *ngIf="!isEmailVerified"
                      class="float-left btn btn-outline-primary btn-sm">Verify</button>
                    <span class="wfm-loader float-left ml-3" *ngIf="showLoaderForEmail">
                      <mat-spinner diameter="28"></mat-spinner>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group mt-3 mb-0">
                <div class="row">
                  <div class="col-md-12">
                    <button matStepperPrevious type="submit" class="float-right btn btn-outline-dark btn-sm">
                      Modify
                      Email/Mobile
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
    <div *ngIf="modelType === 'phone'">
      <h2>Verify phone</h2>
      <div class="shadow-none p-3 mb-5 bg-light rounded">
        <div *ngIf="otpVerified" class="alert alert-success" role="alert">
          <h4 class="alert-heading">Success!</h4>
          <p>Phone has been verified</p>
        </div>
        <div class="p-1 alert alert-danger text-center wfm-error" *ngIf="RegOtpErrOccured">
          {{RegOtpErrMsg}}
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12 shadow-none p-3 mb-5 bg-light rounded">
              <div class="row">
                <ng-container *ngIf="!otpVerified">
                  <div class="col-md-12 mb-2">
                    <form [formGroup]="getMobSolo">
                      <div class="row">
                        <div class="col-md-5 wfm-client_verifyTick">
                          <mat-form-field appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input matInput formControlName="cmobsolo" name="cmobsolo">
                          </mat-form-field>
                        </div>
                        <div class="col-md-7 pt-3">
                          <ng-container *ngIf="!otpReceived">
                            <button type="submit" (click)="getClientMobileOtp()"
                              class="float-left btn btn-outline-primary btn-sm">Send OTP</button>
                            <span class="wfm-loader float-left ml-3" *ngIf="showLoaderForMobSolo">
                              <mat-spinner diameter="28"></mat-spinner>
                            </span>
                          </ng-container>
                          <p *ngIf="otpReceived" class="text-success">OTP sent</p>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-12 mt-3">
                    <form [formGroup]="verfiyMobSolo">
                      <div class="row">
                        <div class="col-md-5 wfm-client_verifyTick">
                          <mat-form-field appearance="outline">
                            <mat-label>Enter OTP</mat-label>
                            <input matInput formControlName="cmobotpsolo" name="cmobotpsolo" required>
                          </mat-form-field>
                          <span class="wfm-success float-left" *ngIf="isMobVerified">
                            <img src="../../assets/tick.png" alt="tick" />
                          </span>
                        </div>
                        <div class="col-md-5 pt-1">
                          <button *ngIf="!isMobVerified" type="submit" (click)="verifyClientMobileSolo()"
                            class="float-left btn btn-success btn-sm">Verify</button>
                          <span class="wfm-loader float-left ml-3" *ngIf="showLoaderForMob">
                            <mat-spinner diameter="28"></mat-spinner>
                          </span>
                        </div>
                      </div>
                    </form>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="modelType === 'email'">
      <h2>Verify email</h2>
      <div class="shadow-none p-3 mb-5 bg-light rounded">
        <div *ngIf="otpVerified" class="alert alert-success" role="alert">
          <h4 class="alert-heading">Success!</h4>
          <p>Email has been verified</p>
        </div>
        <div class="p-1 alert alert-danger text-center wfm-error" *ngIf="RegOtpErrOccured">
          {{RegOtpErrMsg}}
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12 shadow-none p-3 mb-5 bg-light rounded">
              <div class="row">
                <ng-container *ngIf="!otpVerified">
                  <div class="col-md-12 mb-2">
                    <form [formGroup]="getEmailSolo">
                      <div class="row">
                        <div class="col-md-5 wfm-client_verifyTick">
                          <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="cemailsolo" name="cemailsolo">
                          </mat-form-field>
                        </div>
                        <div class="col-md-7 pt-3">
                          <ng-container *ngIf="!otpReceived">
                            <button type="submit" (click)="getClientEmailOtp()"
                              class="float-left btn btn-outline-primary btn-sm">Send OTP</button>
                            <span class="wfm-loader float-left ml-3" *ngIf="showLoaderForMobSolo">
                              <mat-spinner diameter="28"></mat-spinner>
                            </span>
                          </ng-container>
                          <p *ngIf="otpReceived" class="text-success">OTP sent</p>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-12 mt-3">
                    <form [formGroup]="verifyEmailSolo">
                      <div class="row">
                        <div class="col-md-5 wfm-client_verifyTick">
                          <mat-form-field appearance="outline">
                            <mat-label>Enter OTP</mat-label>
                            <input matInput formControlName="cemailotpsolo" name="cemailotpsolo" required>
                          </mat-form-field>
                          <span class="wfm-success float-left" *ngIf="isMobVerified">
                            <img src="../../assets/tick.png" alt="tick" />
                          </span>
                        </div>
                        <div class="col-md-5 pt-1">
                          <button *ngIf="!isMobVerified" type="submit" (click)="verifyClientEmailSolo()"
                            class="float-left btn btn-success btn-sm">Verify</button>
                          <span class="wfm-loader float-left ml-3" *ngIf="showLoaderForMob">
                            <mat-spinner diameter="28"></mat-spinner>
                          </span>
                        </div>
                      </div>
                    </form>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
