  <div class="wfm-register_wrapper col-md-12 pt-3 pb-5 pl-4 pr-4">
    <h2>FEES CHART</h2>
    <div class="d-flex mb-3">
      <div class="col-md-10 sleek-form">
        <div class="row">
          <form [formGroup]="feesSearchForm" class="d-flex">
            <div class="col-md-3">
              <div class="row">
                <mat-form-field appearance="outline">
                  <mat-label>Type to search</mat-label>
                  <input matInput formControlName="feesSearch" name="feesSearch" required>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Select field</mat-label>
                <mat-select (selectionChange)="searchFees()" formControlName="feesSearchField" name="feesSearchField"
                  required>
                  <mat-option *ngFor="let feesFieldList of feesFieldList" [value]="feesFieldList.value">
                    {{feesFieldList.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-5 pt-3">
              <div class="row">
                <a href="javascript:void(0)" (click)="resetForm()">Clear</a>
                <p class="text-danger pl-3" *ngIf="ErrInSearch">Please type something and try..!</p>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-2">
        <button (click)="openDialog(null)" class="float-right btn btn-sm btn-outline-primary">Add more +</button>
      </div>
    </div>
    <div class="wfm-fees_limit-reached alert alert-warning" *ngIf="isRateLimitReached">
      Sorry, no data found..!
    </div>
    <div class="wfm-fees_loader mat-elevation-z8">
      <div class="wfm-fees_loader-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults" diameter="50"></mat-spinner>
      </div>

      <div class="wfm-fees_container">
        <table mat-table [dataSource]="data" class="wfm-fees-table" matSort>
          <!-- Title Column -->
          <ng-container matColumnDef="serviceName">
            <th mat-header-cell *matHeaderCellDef>Service name</th>
            <td mat-cell *matCellDef="let row">{{row.serviceName}}</td>
          </ng-container>
          <!-- State Column -->
          <ng-container matColumnDef="baseFee">
            <th mat-header-cell *matHeaderCellDef>BaseFee</th>
            <td mat-cell *matCellDef="let row">{{row.baseFee}}</td>
          </ng-container>
          <!-- State Column -->
          <ng-container matColumnDef="baseThreshold">
            <th mat-header-cell *matHeaderCellDef>Base threshold</th>
            <td mat-cell *matCellDef="let row">{{row.baseThreshold}}</td>
          </ng-container>
          <!-- State Column -->
          <ng-container matColumnDef="step">
            <th mat-header-cell *matHeaderCellDef>Step</th>
            <td mat-cell *matCellDef="let row">{{row.step}}</td>
          </ng-container>
          <!-- State Column -->
          <ng-container matColumnDef="increasePerStep">
            <th mat-header-cell *matHeaderCellDef>Increase/Step</th>
            <td mat-cell *matCellDef="let row">{{row.increasePerStep}}</td>
          </ng-container>
          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let row" class="action-link">
              <a href="javascript:void(0)"
                (click)="editFeesChartEntry(row.id, row.serviceId,row.serviceName,
                row.effectiveDate,row.baseFee,row.increaseBasis,row.baseThreshold,row.step,row.increasePerStep)">Modify</a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <mat-paginator [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
