
<div class="wfm-dash_wrapper container pb-5">
  <div class="alert alert-success text-center" *ngIf="serviceSuccessMsg">
    {{serviceSuccessMsg}}
  </div>
    <h2 style="text-align: center;">SERVICES</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="margin-top:30px;">
            <button type="submit" class="mb-3 mr-3 float-left btn btn-outline-primary btn-sm float-right"  [routerLink]="['/service/add']">Create New Service</button>
            <!-- <button type="submit" class="mb-3 mr-3 float-left btn btn-outline-primary btn-sm float-right" data-toggle="modal" data-target="#exampleModal">Trigger Workflow</button> -->
            <div class="wfm-dash_todo wfm-dash_tree wfm-dash_bg border p-3 mt-5">
              <db-angular-tree-grid #angularGrid [data]="data" (cellclick)="redirectToAnotherPage($event)" [configs]="configs"></db-angular-tree-grid>
            </div>
          </div>
      </div>
    </div>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
  </div>
  <app-pageloader [showloader]="showloader"></app-pageloader>
  