<mat-dialog-content>
  <h2>Add Task data </h2>
  <div class="d-flex justify-content-center">
    <div class="col-md-12 grey-bg">
      <form>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Parent task data</mat-label>
                <mat-select>
                  <mat-option value="Option one">1</mat-option>
                  <mat-option value="Option two">2</mat-option>
                  <mat-option value="Option three">3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6 pt-3">
              <mat-checkbox class="example-margin">Is Repeatable?</mat-checkbox>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
                  cdkAutosizeMaxRows="5"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Sequence</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <mat-checkbox class="example-margin">Is action type?</mat-checkbox>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Action</mat-label>
                <mat-select>
                  <mat-option value="Option one">Approve</mat-option>
                  <mat-option value="Option two">Reject</mat-option>
                  <mat-option value="Option three">Update status</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Action entity</mat-label>
                <mat-select>
                  <mat-option value="Option one">User</mat-option>
                  <mat-option value="Option two">Branch</mat-option>
                  <mat-option value="Option three">Client</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <fieldset>
          <legend>Fields group</legend>
          <div class="wfm-addmore col-md-12 p-3 mb-3">
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field appearance="outline">
                    <mat-label>Data type</mat-label>
                    <mat-select value="1">
                      <mat-option value="1">Input</mat-option>
                      <mat-option value="Option one">Textarea</mat-option>
                      <mat-option value="Option two">Attachment</mat-option>
                      <mat-option value="Option three">Date picker</mat-option>
                      <mat-option value="111">Selection</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Validation</mat-label>
                    <mat-select value="1">
                      <mat-option value="1">Required</mat-option>
                      <mat-option value="Option two">Email</mat-option>
                      <mat-option value="11">Max length</mat-option>
                      <mat-option value="Option three">Min length</mat-option>
                      <mat-option value="Option three">Pattern</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field appearance="outline">
                    <mat-label>Validation value (If any)</mat-label>
                    <input matInput value="" placeholder="Three column ex">
                  </mat-form-field>
                </div>
                <div class="col-md-1">
                  <button  type="submit"
                    class="mt-3 float-right btn btn-outline-secondary btn-sm">-</button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Validation</mat-label>
                    <mat-select value="1">
                      <mat-option value="12">Required</mat-option>
                      <mat-option value="Option two">Email</mat-option>
                      <mat-option value="1">Max length</mat-option>
                      <mat-option value="Option three">Min length</mat-option>
                      <mat-option value="Option three">Pattern</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field appearance="outline">
                    <mat-label>Validation value (If any)</mat-label>
                    <input matInput value="10" placeholder="Three column ex">
                  </mat-form-field>
                </div>
                <div class="col-md-1">
                  <button  type="submit"
                    class="mt-3 float-right btn btn-outline-secondary btn-sm">+</button>
                </div>
              </div>
            </div>
            <span class="wfm-remove form_badge-close">X</span>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Display name</mat-label>
                    <input value="sample name 1" matInput placeholder="Three column ex">
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field appearance="outline">
                    <mat-label>Value</mat-label>
                    <input value="sample value 1" matInput placeholder="Three column ex">
                  </mat-form-field>
                </div>
                <div class="col-md-1">
                  <button  type="submit"
                    class="mt-3 float-right btn btn-outline-secondary btn-sm">+</button>
                </div>
              </div>
            </div>
          </div>

          <div class="wfm-addmore col-md-12 p-3 mb-3">
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field appearance="outline">
                    <mat-label>Data type</mat-label>
                    <mat-select value="1">
                      <mat-option value="Option one">Textarea</mat-option>
                      <mat-option value="Option two">Attachment</mat-option>
                      <mat-option value="Option three">Date picker</mat-option>
                      <mat-option value="1">Selection</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field appearance="outline">
                    <mat-label>Available selections</mat-label>
                    <mat-select multiple>
                      <mat-option value="Option one">Partnership</mat-option>
                      <mat-option value="Option two">Proprietorship</mat-option>
                      <mat-option value="Option three">user</mat-option>
                      <mat-option value="Option three">Branch</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Validation</mat-label>
                    <mat-select value="1">
                      <mat-option value="1">Required</mat-option>
                      <mat-option value="Option two">Email</mat-option>
                      <mat-option value="12">Max length</mat-option>
                      <mat-option value="Option three">Min length</mat-option>
                      <mat-option value="Option three">Pattern</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field appearance="outline">
                    <mat-label>Validation value (If any)</mat-label>
                    <input matInput value="" placeholder="Three column ex">
                  </mat-form-field>
                </div>
                <div class="col-md-1">
                  <button  type="submit"
                    class="mt-3 float-right btn btn-outline-secondary btn-sm">-</button>
                </div>
              </div>
            </div>
            <span class="wfm-remove form_badge-close">X</span>

            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Display name</mat-label>
                    <input value="sample name 1" matInput placeholder="Three column ex">
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field appearance="outline">
                    <mat-label>Value</mat-label>
                    <input value="sample value 1" matInput placeholder="Three column ex">
                  </mat-form-field>
                </div>
                <div class="col-md-1">
                  <button  type="submit"
                    class="mt-3 float-right btn btn-outline-secondary btn-sm">-</button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Display name</mat-label>
                    <input value="sample name 2" matInput placeholder="Three column ex">
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field appearance="outline">
                    <mat-label>Value</mat-label>
                    <input value="sample value 2" matInput placeholder="Three column ex">
                  </mat-form-field>
                </div>
                <div class="col-md-1">
                  <button  type="submit"
                    class="mt-3 float-right btn btn-outline-secondary btn-sm">-</button>
                </div>
              </div>
            </div>
          </div>
          <button  type="submit" class="mt-3 float-right btn btn-outline-primary btn-sm">+
            Add</button>
        </fieldset>


      </form>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="col-md-12 pb-4" align="end">
  <div class="col-md-12">
    <hr class="mb-3">
  </div>
  <div class="col-md-12">
    <button mat-dialog-close class="float-left btn btn-outline-secondary mr-5">Cancel</button>
    <button [mat-dialog-close]="true" class="float-right btn btn-outline-success">Save</button>
  </div>
</mat-dialog-actions>
