<div class="wfm-register_wrapper col-md-12 pt-3 pb-5 pl-4 pr-4">
  <h2>CLIENT LIST</h2>
  <div class="d-flex justify-content-end col-md-12 mb-3">
    <div class="row">
      <button (click)="openDialog('add', '')" class="float-right btn btn-sm btn-outline-primary">Add more +</button>
    </div>
  </div>

  <div class="wfm-fees_limit-reached alert alert-warning" *ngIf="isRateLimitReached">
    Sorry, no data found..!
  </div>
  <div class="wfm-fees_loader mat-elevation-z8">
    <div class="wfm-fees_loader-shade" *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults" diameter="50"></mat-spinner>
    </div>

    <div class="wfm-fees_container">
      <table mat-table [dataSource]="data" class="wfm-fees-table" matSort>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let row">{{row.title}} {{row.firstName}} {{row.middleName}} {{row.lastName}}</td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Phone</th>
          <td mat-cell *matCellDef="let row">
            <span [ngClass]="{'wfm-disable': row.isPhoneVerified === false}">{{row.phone}}</span>
            <span class="wfm-badge ml-2" *ngIf="row.isPhoneVerified === false">
              <a href="javascript:void(0)" (click)="openDialog('phone', row.phone)">Verify</a>
            </span>
            <img class="wfm-verified" *ngIf="row.isPhoneVerified === true" src="../../assets/verified.png"
              alt="verified" />
          </td>
        </ng-container>
        <!-- State Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let row">
            <span [ngClass]="{'wfm-disable': row.isEmailVerified === false}">{{row.email}}</span>
            <span class="wfm-badge ml-2" *ngIf="row.isEmailVerified === false">
              <a href="javascript:void(0)" (click)="openDialog('email', row.email)">Verify</a>
            </span>
            <img class="wfm-verified" *ngIf="row.isEmailVerified === true" src="../../assets/verified.png"
              alt="verified" />
          </td>
        </ng-container>
        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let row" class="action-link">
            <ng-container *ngIf="row.isEmailVerified && row.isPhoneVerified">
              <a href="javascript:void(0)" (click)="modifyClient(row.id)">Modify</a>
              &nbsp;/&nbsp;
              <a href="javascript:void(0)" (click)="goToEntity(row.id)">Go to entity list</a>
            </ng-container>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
