<div class="d-flex justify-content-center">
  <div class="col-md-9">
    <h2>COMPLETE REGISTRATION</h2>
    <mat-vertical-stepper #stepper>
      <mat-step [stepControl]="addrDetails">
        <form [formGroup]="addrDetails">
          <ng-template matStepLabel>Enter your details</ng-template>
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>Enter your details</mat-label>
                  <mat-select>
                    <mat-option value="Option one">Option one</mat-option>
                    <mat-option value="Option two">Option two</mat-option>
                    <mat-option value="Option three">Option three</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Three column ex</mat-label>
                  <input matInput placeholder="Three column ex">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Three column ex</mat-label>
                  <input matInput placeholder="Three column ex">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Three column ex</mat-label>
                  <input matInput placeholder="Three column ex">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Two column ex</mat-label>
                  <input matInput placeholder="Three column ex">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Two column ex</mat-label>
                  <input matInput placeholder="Three column ex">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label for="exampleFormControlFile1">Upload attachment</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
            </div>
          </div>
          <fieldset>
            <legend>Form group</legend>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Two column ex</mat-label>
                    <input matInput placeholder="Three column ex">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Two column ex</mat-label>
                    <input matInput placeholder="Three column ex">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Two column ex</mat-label>
                    <input matInput placeholder="Three column ex">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Two column ex</mat-label>
                    <input matInput placeholder="Three column ex">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Two column ex</mat-label>
                    <input matInput placeholder="Three column ex">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Two column ex</mat-label>
                    <input matInput placeholder="Three column ex">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Two column datepicker</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <a href="#">Link sample</a>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Form group</legend>
            <button  type="submit" class="mb-3 float-right btn btn-outline-primary btn-sm">+ Add</button>
            <div class="wfm-addmore p-3">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Two column ex</mat-label>
                      <input matInput placeholder="Three column ex">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Two column ex</mat-label>
                      <input matInput placeholder="Three column ex">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Two column ex</mat-label>
                      <input matInput placeholder="Three column ex">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Two column ex</mat-label>
                      <input matInput placeholder="Three column ex">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <span class="wfm-remove form_badge-close">X</span>
            </div>
          </fieldset>
          <div class="form-group mt-3 mb-0">
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="float-left btn btn-success btn-sm">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="eduDetails">
        <form [formGroup]="eduDetails">
          <ng-template matStepLabel>Enter your education details</ng-template>
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>School / college</mat-label>
                  <input matInput placeholder="School / college">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Year of passing</mat-label>
                  <input matInput placeholder="Year of passing">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Grade</mat-label>
                  <input matInput placeholder="Grade">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Certificate/Degree</mat-label>
                  <input matInput placeholder="Certificate/Degree">
                </mat-form-field>
              </div>
              <div class="col-md-6 pt-4">
                <button type="submit" class="float-right btn btn-outline-primary btn-sm">+ Add
                  education</button>
              </div>
            </div>
          </div>
          <div class="form-group mt-3 mb-0">
            <div class="row">
              <div class="col-md-12">
                <hr class="my-4">
                <button type="submit" class="float-left btn btn-primary btn-sm">Proceed</button>
              </div>
            </div>
          </div>
        </form>
      </mat-step>
    </mat-vertical-stepper>

  </div>
</div>
