<div class="wfm-login_wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 wfm-login_leftPanel">
        <div class="wfm-login_sidebar">
          <h2>Welcome <span>to</span></h2>
          <h1>Lorem ipsum</h1>
        </div>
      </div>
      <div class="col-md-5 wfm-login_rightPanel">
        <div class="wfm-login_container">
        <mat-progress-bar mode="buffer" *ngIf="loading"></mat-progress-bar>
          <h2>{{logintitle}}</h2>
          <mat-horizontal-stepper #stepper>
            <mat-step [stepControl]="">
              <div class="p-1 alert alert-danger text-center wfm-error" *ngIf="loginErrOccured">
                {{loginErrMsg}}
              </div>
              <form [formGroup]="firstFormGroup">
                <div class="form-group">
                  <label for="exampleInputEmail1">User ID</label>
                  <input formControlName="userid" required type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userid.errors }">
                  <div *ngIf="submitted && f.userid.errors" class="invalid-feedback">
                    <div *ngIf="f.userid.errors.required">Username is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input formControlName="password" required type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
                </div>
                <button type="submit" class="btn btn-primary" (click)="onLoginSubmit()">Login</button>
                <div class="wfm-login_divider"><span>OR</span></div>
                <button (click)="goForward(stepper, true)" type="submit" class="btn btn-primary">Login with OTP</button>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <div class="p-1 alert alert-danger text-center wfm-error" *ngIf="loginOTPErrOccured">
                {{loginOTPMsg}}
              </div>
              <div class="p-1 alert alert-success text-center wfm-error" *ngIf="loginOTPSuccess">
                {{loginOTPMsg}}
              </div>
              <form [formGroup]="secondFormGroup" *ngIf="otplogin">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email / Phone</label>
                  <input formControlName="phone" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.phone.errors }" required>
                  <div *ngIf="submitted && g.phone.errors" class="invalid-feedback">
                    <div *ngIf="g.phone.errors.required">Email / Phone is required</div>
                </div>
                </div>
                <div class="form-group"> 
                  <button type="submit" class="btn btn-primary" (click)="onLoginGetOTPSubmit()">Send OTP</button>
                </div>
                <div class="form-group" [hidden]="!loginOTPSubmitAreaVisible">
                  <label for="exampleInputPassword1">Enter OTP</label>
                  <input type="password" class="form-control" formControlName="otp">
                </div> 
                <button type="submit" class="btn btn-primary" [hidden]="!loginOTPSubmitAreaVisible" (click)="onLoginOTPVerify()">Login</button>
              </form>
              <form [formGroup]="thirdFormGroup" *ngIf="!otplogin">
                <div class="form-group">
                  <label for="exampleInputEmail1">Enter email address</label>
                  <input formControlName="resetemail" type="text" class="form-control"[ngClass]="{ 'is-invalid': submitted && h.resetemail.errors }" required>
                  <div *ngIf="submitted && h.resetemail.errors" class="invalid-feedback">
                    <div *ngIf="h.resetemail.errors.required">Email is required</div>
                </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary" (click)="resetPassword()">Send reset link</button>
                </div>
              </form>
            </mat-step>
          </mat-horizontal-stepper>



          <div class="wfm-login_toregister">
            <a class="et-login_register" routerLink="/register" href="javascript:void(0)">Register new user</a>
            <!-- / <a class="et-login_reset" (click)="goForward(stepper, false)" href="javascript:void(0)">Reset password</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>