<div class="wfm-register_wrapper col-md-10" id="workflowForm" *ngIf="pageLoaded">
  <h2>WORKFLOW FORM</h2>
  <mat-horizontal-stepper #stepperHor>
    <form [formGroup]="workflowForm">
      <mat-step>
        <ng-template matStepLabel>Step 1</ng-template>
        <div class="d-flex justify-content-center">
          <div class="col-md-10 grey-bg">
            <div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field appearance="outline">
                      <mat-label>Workflow name</mat-label>
                      <input formControlName="name" matInput placeholder="Enter workflow name">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <fieldset>
                      <legend>Title</legend>
                      <div class="col-md-3">
                        <mat-checkbox formControlName="isRetrospective" class="example-margin">
                          Is retrospective?
                        </mat-checkbox>
                      </div>
                      <div class="col-md-3">
                        <mat-checkbox formControlName="isSequential" class="example-margin">Is sequential?
                        </mat-checkbox>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
              <div class="form-group" *ngIf="false">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Period</mat-label>
                      <input readonly type="text" [value]="periodsData?.data?.name" matInput>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="form-group mt-3 mb-0">
                <div class="row">
                  <div class="col-md-12">
                    <hr class="my-4">
                    <button type="submit" class="float-right btn btn-outline-success"
                      (click)="validateNext(stepperHor)">
                      Next
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step formGroupName="tasks">
        <ng-template matStepLabel>Step 2</ng-template>
        <div class="d-flex justify-content-center sleek-form">
          <div class="col-md-10 grey-bg">
            <h3 class="text-center">Task list</h3>

            <mat-accordion class="wfm-task_dataListAccordion mb-3" multi>
              <ng-container *ngFor="let taskFormGroup of workflowForm.controls.tasks.controls;let taskIndex = index">
                <mat-expansion-panel [expanded]="true">
                  <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'35px'">
                    <mat-panel-title class="align-items-center">
                      Task {{taskIndex+1}}
                    </mat-panel-title>
                    <mat-panel-description class="justify-content-end align-items-end">
                      <button type="button" class="float-right btn btn-outline-light p-0 btn-sm">Remove</button>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <ng-template matExpansionPanelContent>

                    <form [formGroup]="taskFormGroup">
                      <div class="mt-3">
                        <div class="form-group">
                          <div class="row">
                            <div class="col-md-4">
                              <mat-form-field appearance="outline">
                                <mat-label>Task name</mat-label>
                                <input formControlName="name" matInput placeholder="Enter task  name">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field appearance="outline">
                                <mat-label>Owner role</mat-label>
                                <mat-select multiple formControlName="ownerRoles">
                                  <ng-container *ngFor="let l of ownerRole">
                                    <mat-option [value]="l.id">{{l.value}}</mat-option>
                                  </ng-container>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field appearance="outline">
                                <mat-label>Display type</mat-label>
                                <mat-select formControlName="displayTypeId">
                                  <ng-container *ngFor="let l of displayType">
                                    <mat-option [value]="l.id">{{l.value}}</mat-option>
                                  </ng-container>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-md-12">
                              <mat-form-field appearance="outline">
                                <mat-label>Description</mat-label>
                                <textarea formControlName="description" matInput cdkTextareaAutosize
                                  #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                                  cdkAutosizeMaxRows="5"></textarea>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>

                      <mat-accordion class="wfm-task_dataListAccordion" multi>
                        <ng-container
                          *ngFor="let taskDataFormGroup of taskFormGroup.controls.taskDatas.controls;let taskDataIndex = index">
                          <mat-expansion-panel class="mb-2" [formGroup]="taskDataFormGroup" [expanded]="true">
                            <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'35px'">
                              <mat-panel-title>
                                {{taskDataIndex+1}}. {{getTaskName(taskDataFormGroup.get('name').value)}}
                              </mat-panel-title>
                              <mat-panel-description class="justify-content-end">
                                <button class="float-right btn btn-outline-light p-0 btn-sm"
                                  (click)="removetaskData(taskIndex,taskDataIndex)">Remove</button>
                              </mat-panel-description>
                            </mat-expansion-panel-header>
                            <ng-template matExpansionPanelContent>
                              <div class="mt-3">
                                <div>
                                  <div class="form-group">
                                    <div class="row">
                                      <div class="col-md-6 pt-3" *ngIf="taskDataFormGroup.get('id')?.value==0">
                                        <mat-checkbox class="example-margin" formControlName="isGroupType">Is Group
                                          type?
                                        </mat-checkbox>
                                      </div>
                                      <div class="col-md-6 pt-3">
                                        <mat-checkbox *ngIf="taskDataFormGroup.get('isGroupType').value"
                                          class="example-margin" formControlName="isRepeatable">Is Repeatable?
                                        </mat-checkbox>
                                      </div>
                                    </div>
                                  </div>
                                  <ng-container *ngIf="!taskDataFormGroup.get('isGroupType').value">
                                    <div class="form-group">
                                      <div class="row">
                                        <div class="col-md-4">
                                          <mat-form-field appearance="outline">
                                            <mat-label>Name</mat-label>
                                            <input formControlName="name" matInput value="">
                                          </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                          <mat-form-field appearance="outline">
                                            <mat-label>Description</mat-label>
                                            <textarea formControlName="description" value="" matInput
                                              cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                              cdkAutosizeMaxRows="5"></textarea>
                                          </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                          <mat-form-field appearance="outline">
                                            <mat-label>Data type</mat-label>
                                            <mat-select value="1" formControlName="taskDataTypeId">
                                              <ng-container *ngFor="let l of taskDataType">
                                                <mat-option [value]="l.id">{{l.value}}</mat-option>
                                              </ng-container>
                                            </mat-select>
                                          </mat-form-field>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="form-group" style="display: none;">
                                      <div class="row">
                                        <div class="col-md-12">
                                          <mat-checkbox class="example-margin" formControlName="isActionType"
                                            checked="checked">
                                            Is action type?</mat-checkbox>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-group" *ngIf="taskDataFormGroup.get('isActionType').value">
                                      <div class="row">
                                        <div class="col-md-6">
                                          <mat-form-field appearance="outline">
                                            <mat-label>Action</mat-label>
                                            <mat-select value="1" formControlName="actionTypeId">
                                              <ng-container *ngFor="let l of actionType">
                                                <mat-option [value]="l.id">{{l.value}}</mat-option>
                                              </ng-container>
                                            </mat-select>
                                          </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                          <mat-form-field appearance="outline">
                                            <mat-label>Action entity</mat-label>
                                            <mat-select value="1" formControlName="actionEntity">
                                              <ng-container *ngFor="let l of actionEntityList">
                                                <mat-option [value]="l.value">{{l.value}}</mat-option>
                                              </ng-container>
                                            </mat-select>
                                          </mat-form-field>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- <div class="form-group" style="display: none;">
                                          <div class="row">
                                            <div class="col-md-12">
                                              <mat-form-field appearance="outline">
                                                <mat-label>Available selections</mat-label>
                                                <mat-select multiple formControlName="selectionData">
                                                  <ng-container *ngFor="let l of taskDataSelections">
                                                    <mat-option [value]="l.id">{{l.value}}</mat-option>
                                                  </ng-container>
                                                </mat-select>
                                              </mat-form-field>
                                            </div>
                                          </div>
                                        </div> -->
                                    <ng-container *ngIf="taskDataFormGroup.get('taskDataTypeId').value===3">
                                      <ng-container
                                        *ngFor="let selectionDataFormArray of taskDataFormGroup.controls.selectionData.controls;let selectionDataFormArrayIndex = index">
                                        <div class="form-group" [formGroup]="selectionDataFormArray">
                                          <div class="row">
                                            <div class="col-md-6">
                                              <mat-form-field appearance="outline">
                                                <mat-label>Display name</mat-label>
                                                <input value="" formControlName="Name" matInput
                                                  placeholder="Three column ex">
                                              </mat-form-field>
                                            </div>
                                            <div class="col-md-5">
                                              <mat-form-field appearance="outline">
                                                <mat-label>Value</mat-label>
                                                <input value="" formControlName="Value" matInput
                                                  placeholder="Three column ex">
                                              </mat-form-field>
                                            </div>
                                            <div class="col-md-1">
                                              <button
                                                (click)="removeSelectionDataForm(taskIndex,taskDataIndex,selectionDataFormArrayIndex)"
                                                type="submit" class="mt-3 float-right btn btn-outline-secondary btn-sm">
                                                -
                                              </button>
                                            </div>
                                          </div>
                                        </div>
                                      </ng-container>
                                    </ng-container>
                                    <button *ngIf="taskDataFormGroup.get('taskDataTypeId').value===3"
                                      (click)="addSelectionDataForm(taskIndex,taskDataIndex)" type="submit"
                                      class="m-1 mt-3 float-right btn btn-outline-primary btn-sm">+
                                      Add Select data</button>
                                    <ng-container
                                      *ngFor="let validationFormArray of taskDataFormGroup.controls.validationData.controls;let validationFormArrayIndex = index">
                                      <div class="form-group" [formGroup]="validationFormArray">
                                        <div class="row">
                                          <div class="col-md-5">
                                            <mat-form-field appearance="outline">
                                              <mat-label>Validation</mat-label>
                                              <mat-select formControlName="validationTypeId">
                                                <ng-container *ngFor="let l of taskValidationTypes">
                                                  <mat-option [value]="l.id">{{l.value}}</mat-option>
                                                </ng-container>
                                              </mat-select>
                                            </mat-form-field>
                                          </div>
                                          <div class="col-md-5">
                                            <mat-form-field appearance="outline">
                                              <mat-label>Validation value (If any)</mat-label>
                                              <input matInput formControlName="validationValue"
                                                placeholder="Three column ex">
                                            </mat-form-field>
                                          </div>
                                          <div class="col-md-2 pt-1">
                                            <button type="submit"
                                              (click)="removeValidation(taskIndex,taskDataIndex,validationFormArrayIndex)"
                                              class="float-right btn btn-outline-warning btn-sm">
                                              Remove
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                                    </ng-container>
                                    <button (click)="addValidation(taskIndex,taskDataIndex)" type="submit"
                                      class="m-1 mt-3 float-right btn btn-outline-primary btn-sm">+
                                      Add Validation</button>
                                  </ng-container>

                                  <ng-container *ngIf="taskDataFormGroup.get('isGroupType').value">
                                    <div class="form-group">
                                      <div class="row">
                                        <div class="col-md-6">
                                          <mat-form-field appearance="outline">
                                            <mat-label>Parent Task Name</mat-label>
                                            <input matInput value="" formControlName="name">
                                          </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                          <mat-form-field appearance="outline">
                                            <mat-label>Description</mat-label>
                                            <textarea formControlName="description" value="" matInput
                                              cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                              cdkAutosizeMaxRows="5"></textarea>
                                          </mat-form-field>
                                        </div>
                                      </div>
                                    </div>
                                    <mat-accordion class="wfm-task_dataListAccordion" multi>
                                      <ng-container
                                        *ngFor="let membersTaskDataFormGroup of taskDataFormGroup.controls.members.controls;let membersTaskDataIndex = index">
                                        <mat-expansion-panel class="mb-2" [formGroup]="membersTaskDataFormGroup">
                                          <mat-expansion-panel-header [collapsedHeight]="'30px'"
                                            [expandedHeight]="'35px'">
                                            <mat-panel-title>
                                              {{membersTaskDataIndex+1}}.
                                              {{getTaskName(membersTaskDataFormGroup.get('name').value)}}
                                            </mat-panel-title>
                                            <mat-panel-description class="justify-content-end">
                                              <span
                                                *ngIf="getTaskDataType(membersTaskDataFormGroup.get('taskDataTypeId')?.value)"
                                                class="badge p-1 mr-2 font-weight-normal align-self-center badge-light">Type
                                                :
                                                {{getTaskDataType(membersTaskDataFormGroup.get('taskDataTypeId')?.value)}}</span>
                                              <button class="float-right btn btn-outline-light p-0 btn-sm"
                                                (click)="removeMembersTaskData(taskIndex,taskDataIndex,membersTaskDataIndex)">Remove</button>
                                            </mat-panel-description>
                                          </mat-expansion-panel-header>
                                          <ng-template matExpansionPanelContent>
                                            <div class="mt-3">
                                              <div>
                                                <ng-container>
                                                  <div class="form-group">
                                                    <div class="row">
                                                      <div class="col-md-4">
                                                        <mat-form-field appearance="outline">
                                                          <mat-label>Name</mat-label>
                                                          <input formControlName="name" matInput value="">
                                                        </mat-form-field>
                                                      </div>
                                                      <div class="col-md-4">
                                                        <mat-form-field appearance="outline">
                                                          <mat-label>Description</mat-label>
                                                          <textarea formControlName="description" value="" matInput
                                                            cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                                            cdkAutosizeMaxRows="5"></textarea>
                                                        </mat-form-field>
                                                      </div>
                                                      <div class="col-md-4">
                                                        <mat-form-field appearance="outline">
                                                          <mat-label>Data type</mat-label>
                                                          <mat-select value="1" formControlName="taskDataTypeId">
                                                            <ng-container *ngFor="let l of taskDataType">
                                                              <mat-option [value]="l.id">{{l.value}}</mat-option>
                                                            </ng-container>
                                                          </mat-select>
                                                        </mat-form-field>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <!-- <div class="form-group" style="display: none;">
                                                    <div class="row">
                                                      <div class="col-md-12">
                                                        <mat-checkbox class="example-margin" formControlName="isActionType"
                                                          checked="checked">
                                                          Is action type?</mat-checkbox>
                                                      </div>
                                                    </div>
                                                  </div> -->
                                                  <!-- <div class="form-group" *ngIf="membersTaskDataFormGroup.get('isActionType').value">
                                                    <div class="row">
                                                      <div class="col-md-6">
                                                        <mat-form-field appearance="outline">
                                                          <mat-label>Action</mat-label>
                                                          <mat-select value="1" formControlName="actionTypeId">
                                                            <ng-container *ngFor="let l of actionType">
                                                              <mat-option [value]="l.id">{{l.value}}</mat-option>
                                                            </ng-container>
                                                          </mat-select>
                                                        </mat-form-field>
                                                      </div>
                                                      <div class="col-md-6">
                                                        <mat-form-field appearance="outline">
                                                          <mat-label>Action entity</mat-label>
                                                          <mat-select value="1" formControlName="actionEntity">
                                                            <ng-container *ngFor="let l of actionEntityList">
                                                              <mat-option [value]="l.value">{{l.value}}</mat-option>
                                                            </ng-container>
                                                          </mat-select>
                                                        </mat-form-field>
                                                      </div>
                                                    </div>
                                                  </div> -->
                                                  <!-- <div class="form-group" style="display: none;">
                                                        <div class="row">
                                                          <div class="col-md-12">
                                                            <mat-form-field appearance="outline">
                                                              <mat-label>Available selections</mat-label>
                                                              <mat-select multiple formControlName="selectionData">
                                                                <ng-container *ngFor="let l of taskDataSelections">
                                                                  <mat-option [value]="l.id">{{l.value}}</mat-option>
                                                                </ng-container>
                                                              </mat-select>
                                                            </mat-form-field>
                                                          </div>
                                                        </div>
                                                      </div> -->
                                                  <ng-container
                                                    *ngIf="membersTaskDataFormGroup.get('taskDataTypeId')?.value===3">
                                                    <ng-container
                                                      *ngFor="let selectionMembersDataFormArray of membersTaskDataFormGroup.controls.selectionData.controls;let selectionMembersDataFormArrayIndex = index">
                                                      <div class="form-group"
                                                        [formGroup]="selectionMembersDataFormArray">
                                                        <div class="row">
                                                          <div class="col-md-6">
                                                            <mat-form-field appearance="outline">
                                                              <mat-label>Display name</mat-label>
                                                              <input value="" formControlName="Name" matInput
                                                                placeholder="Three column ex">
                                                            </mat-form-field>
                                                          </div>
                                                          <div class="col-md-5">
                                                            <mat-form-field appearance="outline">
                                                              <mat-label>Value</mat-label>
                                                              <input value="" formControlName="Value" matInput
                                                                placeholder="Three column ex">
                                                            </mat-form-field>
                                                          </div>
                                                          <div class="col-md-1">
                                                            <button
                                                              (click)="removeMembersSelectionDataForm(taskIndex,taskDataIndex,membersTaskDataIndex,selectionMembersDataFormArrayIndex)"
                                                              type="submit"
                                                              class="mt-3 float-right btn btn-outline-secondary btn-sm">
                                                              -
                                                            </button>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </ng-container>
                                                  </ng-container>
                                                  <button
                                                    *ngIf="membersTaskDataFormGroup.get('taskDataTypeId')?.value===3"
                                                    (click)="addMembersSelectionDataForm(taskIndex,taskDataIndex,membersTaskDataIndex)"
                                                    type="submit"
                                                    class="m-1 mt-3 float-right btn btn-outline-primary btn-sm">+
                                                    Add Select data</button>
                                                  <ng-container
                                                    *ngFor="let validationMembersFormArray of membersTaskDataFormGroup.controls.validationData.controls;let validationMembersFormArrayIndex = index">
                                                    <div class="form-group" [formGroup]="validationMembersFormArray">
                                                      <div class="row">
                                                        <div class="col-md-5">
                                                          <mat-form-field appearance="outline">
                                                            <mat-label>Validation</mat-label>
                                                            <mat-select formControlName="validationTypeId">
                                                              <ng-container *ngFor="let l of taskValidationTypes">
                                                                <mat-option [value]="l.id">{{l.value}}</mat-option>
                                                              </ng-container>
                                                            </mat-select>
                                                          </mat-form-field>
                                                        </div>
                                                        <div class="col-md-5">
                                                          <mat-form-field appearance="outline">
                                                            <mat-label>Validation value (If any)</mat-label>
                                                            <input matInput formControlName="validationValue"
                                                              placeholder="Three column ex">
                                                          </mat-form-field>
                                                        </div>
                                                        <div class="col-md-2 pt-1">
                                                          <button type="submit"
                                                            (click)="removeMembersValidation(taskIndex,taskDataIndex,membersTaskDataIndex,validationMembersFormArrayIndex)"
                                                            class="float-right btn btn-outline-warning btn-sm">
                                                            Remove
                                                          </button>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </ng-container>
                                                  <button
                                                    (click)="addMembersValidation(taskIndex,taskDataIndex,membersTaskDataIndex)"
                                                    type="submit"
                                                    class="m-1 mt-3 float-right btn btn-outline-primary btn-sm">+
                                                    Add Validation</button>
                                                </ng-container>

                                              </div>
                                            </div>
                                          </ng-template>
                                        </mat-expansion-panel>
                                      </ng-container>
                                    </mat-accordion>
                                    <div class="float-right mt-3">
                                      <button (click)="addMemberTaskData(taskIndex,taskDataIndex)" type="submit"
                                        class="mb-3 float-right btn btn-outline-success btn-sm">
                                        Add member task data
                                      </button>
                                    </div>
                                  </ng-container>

                                </div>
                              </div>
                            </ng-template>
                          </mat-expansion-panel>
                        </ng-container>
                      </mat-accordion>
                      <div class="float-right mt-3">
                        <button (click)="addTaskData(taskIndex)" type="submit"
                          class="mb-3 float-right btn btn-outline-success btn-sm">
                          Add task data
                        </button>
                      </div>
                    </form>


                  </ng-template>

                </mat-expansion-panel>
              </ng-container>
            </mat-accordion>
            <div class="mt-5 text-center">
              <button type="submit" (click)="addTask()" class="mb-3 col-md-5 btn btn-outline-primary btn-sm">+
                Add
                task</button>
            </div>
            <div class="form-group mt-3 mb-0">
              <div class="row">
                <div class="col-md-12">
                  <hr class="my-4">
                  <button matStepperPrevious type="submit" class="float-left btn btn-outline-secondary">
                    Back
                  </button>
                  <button type="submit" class="float-right btn btn-success" (click)="submitWorkflow()">
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-step>
    </form>
  </mat-horizontal-stepper>
</div>
