<div class="wfm-register_wrapper">
  <mat-horizontal-stepper #stepperHor>
    <mat-step>
      <ng-template matStepLabel>Step 1</ng-template>
      one
      <div>
        <button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Step 2</ng-template>
      <h2>REVIEW DATA</h2>
      <div class="container-fluid pb-5">
        <div class="row">
          <div class="col-md-6">
            <div class="shadow-sm bg-white rounded">
              <table class="table table-sm bg-light">
                <thead>
                  <tr>
                    <th class="border-top-0 border-bottom-0 p-2" colspan="2">Basic details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Lorem ipsum :</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <td>Lorem ipsum :</td>
                    <td>Thornton</td>
                  </tr>
                  <tr>
                    <td>Lorem ipsum :</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-6">
            <div class="shadow-sm bg-white rounded">
              <table class="table table-sm bg-light">
                <thead>
                  <tr>
                    <th class="border-top-0 border-bottom-0 p-2" colspan="2">Address details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Lorem ipsum :</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <td>Lorem ipsum :</td>
                    <td>Thornton</td>
                  </tr>
                  <tr>
                    <td>Lorem ipsum :</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-12 mt-3 mb-3 ">
            <div class="row">
              <div class="col-md-4">
                <div class="shadow-sm bg-white rounded">
                  <table class="table table-sm bg-light">
                    <thead>
                      <tr>
                        <th class="border-top-0 border-bottom-0 p-2" colspan="2">Educational details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Lorem ipsum :</td>
                        <td>Otto</td>
                      </tr>
                      <tr>
                        <td>Lorem ipsum :</td>
                        <td>Thornton</td>
                      </tr>
                      <tr>
                        <td>Lorem ipsum :</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-4">
                <div class="shadow-sm bg-white rounded">
                  <table class="table table-sm bg-light">
                    <thead>
                      <tr>
                        <th class="border-top-0 border-bottom-0 p-2" colspan="2">Membership details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Lorem ipsum :</td>
                        <td>Otto</td>
                      </tr>
                      <tr>
                        <td>Lorem ipsum :</td>
                        <td>Thornton</td>
                      </tr>
                      <tr>
                        <td>Lorem ipsum :</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-4">
                <div class="shadow-sm bg-white rounded">
                  <table class="table table-sm bg-light">
                    <thead>
                      <tr>
                        <th class="border-top-0 border-bottom-0 p-2" colspan="2">Form details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Lorem ipsum :</td>
                        <td>Otto</td>
                      </tr>
                      <tr>
                        <td>Lorem ipsum :</td>
                        <td>Thornton</td>
                      </tr>
                      <tr>
                        <td>Lorem ipsum :</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="shadow-sm bg-white rounded">
              <table class="table table-sm bg-light">
                <thead>
                  <tr>
                    <th class="border-top-0 border-bottom-0 p-2" colspan="2">Work experience</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Lorem ipsum :</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <td>Lorem ipsum :</td>
                    <td>Thornton</td>
                  </tr>
                  <tr>
                    <td>Lorem ipsum :</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Step 3</ng-template>
      <app-sampleform></app-sampleform>
    </mat-step>
  </mat-horizontal-stepper>
</div>
