<div class="wfm-register_wrapper">
  <h2>COMPLETE TASK</h2>  
  <div *ngIf="showMat">
  <mat-vertical-stepper [selectedIndex]="stepperIndex" #stepper>
    <mat-step *ngFor="let stepElement of taskUICompleteModelCollection">
        <form>
          <ng-template matStepLabel>Completed</ng-template>
          <div  class="form-group" *ngFor="let uiElement of stepElement.taskUIModel">
            <div class="row" aria-disabled="true" *ngIf="!uiElement.isGroup">
              <div class="col-md-6" *ngFor="let ele of uiElement" >   
                
                <app-uidisabledelement [controlParam] = "ele"> </app-uidisabledelement> 
              </div>
            </div>

            <ng-container *ngIf="uiElement.isGroup && !uiElement.isArray">
              <fieldset>
                <legend>{{uiElement.groupName}}</legend>
                <div class="form-group" *ngFor="let array of uiElement.fields">      
                    <div class="row" aria-disabled="true" *ngFor="let row of array.data">
                      <div class="col-md-6" *ngFor="let child of row">
                        
                          <app-uidisabledelement  [controlParam] = "child"> </app-uidisabledelement>

                      </div>
                    </div>
                </div>
              </fieldset>
            </ng-container>

            <div *ngIf="uiElement.isGroup && uiElement.isArray">
              <fieldset>
                <legend>{{uiElement.groupName}}</legend>
                <div class="form-group" *ngFor="let array of uiElement.fields;let arrayIndex=index">
                    <div class="row" aria-disabled="true" *ngFor="let row of array.data">
                      <div class="col-md-6" *ngFor="let child of row">
                        <app-uidisabledelement [controlParam] = "child"> </app-uidisabledelement>                       

                      </div>
                    </div>
                  </div>
              </fieldset>           

            </div>
          </div>

       
        </form>        
    </mat-step>
    
    <mat-step>
        <form [formGroup]="taskForm">
          <ng-template matStepLabel>Pending</ng-template>
          <div  class="form-group" *ngFor="let uiElement of taskUIModel">
            <div class="row" *ngIf="!uiElement.isGroup">
              <div class="col-md-6" *ngFor="let ele of uiElement" >   
                
                <app-uielement (actionSelected)="onActionSelected($event)" formControlName="{{ele.formControlName}}" [controlParam] = "ele"> </app-uielement> 
              </div>
            </div>

            <ng-container *ngIf="uiElement.isGroup && !uiElement.isArray">
              <fieldset>
                <legend>{{uiElement.groupName}}</legend>
                <div class="form-group" *ngFor="let array of uiElement.fields">      
                    <div class="row" *ngFor="let row of array.data">
                      <div class="col-md-6" *ngFor="let child of row">
                        
                          <app-uielement (actionSelected)="onActionSelected($event)" formControlName="{{child.formControlName}}" [controlParam] = "child"> </app-uielement>

                      </div>
                    </div>
                </div>
              </fieldset>
            </ng-container>

            <div *ngIf="uiElement.isGroup && uiElement.isArray" formArrayName="{{uiElement.formControlName}}">
              <fieldset>
                <legend>{{uiElement.groupName}}</legend>
                <div class="form-group" *ngFor="let array of uiElement.fields;let arrayIndex=index" [formGroupName]="arrayIndex">
                    <div class="row" *ngFor="let row of array.data">
                      <div class="col-md-6" *ngFor="let child of row">
                        <app-uielement (actionSelected)="onActionSelected($event)" formControlName="{{child.formControlName}}" [controlParam] = "child"> </app-uielement>                       

                      </div>
                    </div>
                    <button type="button" (click)="addTaskGroup(uiElement,array.data)">Add</button>
                  </div>
              </fieldset>           

            </div>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="onSubmit()">Save</button>
          </div>
       
        </form>        
    </mat-step>
    
  </mat-vertical-stepper>
  </div>
</div>
<app-pageloader [showloader]="showloader"></app-pageloader>


