<div class="wfm_wrapper">
  <app-header [userId]="userId"></app-header>
  <section>
    <div class="container-sm">
      <router-outlet></router-outlet>
    </div>
  </section>
  <footer></footer>
</div>
