<mat-form-field *ngIf="controlParam?.dataType=='Textarea' || controlParam?.dataType=='Selection' || controlParam?.dataType=='DatePicker'"appearance="outline">
    <mat-label>{{controlParam?.name}}</mat-label>  
    <input (change)="textchanged($event)" readonly type="text" [value]="controlParam?.value"  matInput placeholder="{{controlParam?.name}}">
 </mat-form-field>

 <!-- <mat-form-field *ngIf="controlParam?.isAction && controlParam?.value"appearance="outline"></mat-form-field> -->
 <mat-form-field *ngIf="controlParam?.isAction"appearance="outline">
   <mat-label>{{controlParam?.name}}</mat-label>  
   <input (change)="textchanged($event)" readonly type="text" [value]="controlParam?.name"  matInput placeholder="{{controlParam?.name}}">
</mat-form-field>

 
 <a target="__blank" *ngIf="controlParam?.dataType=='Attachment'" [href]="filepath" download>{{controlParam?.name}}</a>
 <!-- <mat-form-field *ngIf="controlParam?.dataType=='Selection'" appearance="outline">
    <mat-label>{{controlParam?.name}}</mat-label>
    <mat-select [disabled]="true" (selectionChange)="selectChanged($event)">
       <ng-container *ngFor="let option of controlParam?.selections">
            <mat-option  value="{{option.value}}">{{option.name}}</mat-option>
      </ng-container>>
    </mat-select>
  </mat-form-field> -->