<div class="wfm-register_wrapper no-shadow">
  <div class="position-relative">
    <button mat-dialog-close type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h2>FEES CHART FORM</h2>
    <div class="d-flex justify-content-center">
      <div class="col-md-12 grey-bg sleek-form">
        <div *ngIf="feesChartStatus" class="alert alert-success" role="alert">
          <h4 class="alert-heading">Success!</h4>
          <p>Your entry has been updated</p>
        </div>
        <div *ngIf="feesChartStatusFailure" class="mb-4 alert alert-danger" role="alert">
          <ng-container *ngIf="!fieldValErr">
            <strong>Oops!</strong> Entry is already present, please modify from list
          </ng-container>
          <ng-container *ngIf="fieldValErr">
            <strong>Oops!</strong> Some error occured, please refresh the page.
          </ng-container>
        </div>
        <form *ngIf="!feesChartStatus" [formGroup]="feesChart" (submit)="setFeesChart()">
          <div class="form-group">
            <div class="row">
              <div class="col-md-12 d-none">
                <input class="form-control" hidden name="fieldId" formControlName="fieldId">
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Service</mat-label>
                  <mat-select formControlName="serviceName" name="serviceName" required>
                    <mat-option *ngFor="let serviceName of servGrpNames" [value]="serviceName.id">
                      {{serviceName.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Effective date</mat-label>
                  <!-- <mat-select formControlName="finyr" name="finyr" required>
                    <mat-option *ngFor="let fyears of finYears" [value]="fyears.id">
                      {{fyears.value}}
                    </mat-option>
                  </mat-select> -->
                  <input matInput [matDatepicker]="picker_1" formControlName="effectiveDt"  name="effectiveDt" required>
                  <mat-datepicker-toggle matSuffix [for]="picker_1"></mat-datepicker-toggle>
                  <mat-datepicker #picker_1></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Base fee</mat-label>
                  <input matInput formControlName="baseFee" class="form-control" name="baseFee" required>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Increase basis</mat-label>
                  <mat-select formControlName="incBase" name="incBase" required>
                    <mat-option [attr.id]="feeIncBasisName.id" [selected.selected]="feeIncBasisName.id === 3" *ngFor="let feeIncBasisName of feeIncBasis" [value]="feeIncBasisName.id">
                      {{feeIncBasisName.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Base threshold</mat-label>
                  <input matInput formControlName="baseThreshold" class="form-control" name="baseThreshold" required>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Step</mat-label>
                  <input matInput formControlName="stepField" class="form-control" name="stepField" required>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Increase per step</mat-label>
                  <input matInput formControlName="incPerStep" class="form-control" name="incPerStep" required>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr class="mb-3">
            </div>
            <div class="col-md-12">
              <button class="float-left btn btn-outline-success">Submit</button>
              <span class="wfm-loader float-left ml-3" *ngIf="showLoaderSubmit">
                <mat-spinner diameter="28"></mat-spinner>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
