<div class="wfm-register_wrapper no-shadow">
  <div class="position-relative" mat-dialog-content>
    <button mat-dialog-close type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h2 *ngIf="view === 'add'">ADD TASK DATA</h2>
    <h2 *ngIf="view === 'edit'">EDIT TASK DATA</h2>
    <h2 *ngIf="view === 'view'">VIEW TASK DATA</h2>
    <h2 *ngIf="view === 'group'">GROUP TASK DATA</h2>
    <ng-container *ngIf="view != 'group'">
      <div class="d-flex justify-content-center sleek-form">
        <div class="col-md-12 grey-bg">
          <form>
            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"></textarea>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Data type</mat-label>
                    <mat-select>
                      <mat-option value="Option one">Option one</mat-option>
                      <mat-option value="Option two">Option two</mat-option>
                      <mat-option value="Option three">Option three</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field appearance="outline">
                    <mat-label>Validation</mat-label>
                    <mat-select>
                      <mat-option value="Option one">Option one</mat-option>
                      <mat-option value="Option two">Option two</mat-option>
                      <mat-option value="Option three">Option three</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field appearance="outline">
                    <mat-label>Validation value (If any)</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
                <div class="d-flex col-md-2 pt-1">
                  <button [disabled]="view === 'view'" type="submit" class="float-right btn btn-outline-warning btn-sm">
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </form>
          <div class="form-group mb-0" *ngIf="view === 'edit' || view === 'add'">
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="m-1 mt-3 float-right btn btn-outline-primary btn-sm">+
                  Add Validation</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="view === 'group'">
      <div class="d-flex justify-content-center sleek-form">
        <div class="col-md-12 grey-bg">
          <form>
            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <p>Enter the group name and select the fields to group it under:</p>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Group name</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </form>
          <table class="shadow bg-white rounded table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Data type</th>
                <th scope="col">Validation</th>
                <th scope="col" class="text-center" width="5">#</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Phone number</td>
                <td>Approve</td>
                <td>Required</td>
                <td>
                  <mat-checkbox class="mr-2 float-right"></mat-checkbox>
                </td>
              </tr>
              <tr>
                <td>Email</td>
                <td>Approve</td>
                <td>Required</td>
                <td>
                  <mat-checkbox class="mr-2 float-right"></mat-checkbox>
                </td>
              </tr>
              <tr>
                <td>PAN</td>
                <td>Approve</td>
                <td>-</td>
                <td>
                  <mat-checkbox class="mr-2 float-right"></mat-checkbox>
                </td>
              </tr>
              <tr>
                <td>customer name</td>
                <td>Approve</td>
                <td>Required</td>
                <td>
                  <mat-checkbox class="mr-2 float-right"></mat-checkbox>
                </td>
              </tr>
              <tr>
                <td>Phone number</td>
                <td>Approve</td>
                <td>Required</td>
                <td>
                  <mat-checkbox class="mr-2 float-right"></mat-checkbox>
                </td>
              </tr>
              <tr>
                <td>Email</td>
                <td>Approve</td>
                <td>Required</td>
                <td>
                  <mat-checkbox class="mr-2 float-right"></mat-checkbox>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
    <button *ngIf="view != 'view'" type="submit" class="m-1 mt-3 float-right btn btn-success btn-sm">Submit</button>
  </div>
</div>
