<div class="wfm-register_wrapper col-md-12 pt-3 pb-5 pl-4 pr-4">
  <h2>ENTITIES BRANCH LIST</h2>
  <div class="row">
    <div class="d-flex col-md-12 mb-3">
      <div class="flex-grow-1">
        <h3 class="float-left mt-2 mb-0">Entity Name : {{entityName}}</h3>
      </div>
      <div class="flex-grow-1">
        <button (click)="openDialog(null)" class="float-right btn btn-sm btn-outline-primary">Add more +</button>
      </div>
    </div>
  </div>
  <div class="wfm-fees_limit-reached alert alert-warning text-center" *ngIf="isError">
    Sorry, no data found..!
  </div>
  <div class="wfm-fees_loader mat-elevation-z8" *ngIf="!isError">
    <div class="wfm-fees_container">
      <div class="wfm-fees_loader-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults" diameter="50"></mat-spinner>
      </div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="wfm-fees-table">

          <!-- Position Column -->
          <ng-container matColumnDef="branchName">
            <th mat-header-cell *matHeaderCellDef> Branch Name </th>
            <td mat-cell *matCellDef="let element"> {{element.branchName}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="tanNumber">
            <th mat-header-cell *matHeaderCellDef> tanNumber </th>
            <td mat-cell *matCellDef="let element"> {{element.tanNumber}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="ptrcNumber">
            <th mat-header-cell *matHeaderCellDef> ptrcNumber </th>
            <td mat-cell *matCellDef="let element"> {{element.ptrcNumber}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="gstNumber">
            <th mat-header-cell *matHeaderCellDef> gstNumber </th>
            <td mat-cell *matCellDef="let element"> {{element.gstNumber}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="gstEmail">
            <th mat-header-cell *matHeaderCellDef> gstEmail </th>
            <td mat-cell *matCellDef="let element"> {{element.gstEmail}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="gstMobile">
            <th mat-header-cell *matHeaderCellDef> gstMobile </th>
            <td mat-cell *matCellDef="let element"> {{element.gstMobile}} </td>
          </ng-container>


          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef width="200"> Action </th>
            <td mat-cell *matCellDef="let element">
              <a href="javascript:void(0)" (click)="modifyEntityBranch(
                  element.id,
                  element.entityId,
                  element.entityName,
                  element.branchName,
                  element.tanNumber,
                  element.tanTracesId,
                  element.tdsUserIdTrace,
                  element.tanEfilingId,
                  element.tdsUserIdTax,
                  element.tanEfilingPassword,
                  element.ptrcNumber,
                  element.ptrcId,
                  element.gstNumber,
                  element.gstLoginId,
                  element.gstPassword,
                  element.gstEwayBillId,
                  element.gstEwayBillPassword,
                  element.gstEmail,
                  element.gstMobile,
                  element.address1,
                  element.address2,
                  element.locality,
                  element.city,
                  element.state,
                  element.country,
                  element.zip
                )">Modify</a> &nbsp;/&nbsp;
              <a href="javascript:void(0)" (click)="goToBranch(element.id)">Go to bank</a>
              &nbsp;/&nbsp;
              <span class="action_image">
                <a (click)="deleteEnt(element.branchName, element.id)" href="javascript:void(0)"><img src="../../assets/del.png"
                    alt="action_img" /></a>
              </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>

    </div>
  </div>
</div>
