<div class="wfm-register_wrapper col-md-10">
    <div class="p-1 alert alert-danger text-center wfm-error" *ngIf="serviceErrMsg">
      {{serviceErrMsg}}
    </div>
    <div class="adminServPeriodListWrap p-3" *ngIf="!showAdminServForm">
      <h2>PERIODS LIST</h2>
      <div class="adminServPeriodList">
        <mat-accordion class="wfm-task_dataListAccordion" multi>
          <div *ngFor="let updateForm of periodupdateform.controls; let i=index">
            <div>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Period name : {{updateForm.value.name}}
                  </mat-panel-title>
                  <mat-panel-description>
                    Sequence : {{updateForm.value.sequence}} / Due date : {{updateForm.value.dueDate}} / Expiry date : {{updateForm.value.expiryDate}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                  <form [formGroup]="updateForm">
                    <div class="wfm-addmore col-md-12 p-3 mt-4 mb-3">
                      <div class="form-group" *ngIf="showCloneIndex != i" [hidden]="showCloneIndex == i">
                        <div class="row">
                          <div class="col-md-12">
                            <mat-form-field appearance="outline">
                              <mat-label>Period name</mat-label>
                              <input matInput [readonly]="readOnly" formControlName="name">
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="form-group" *ngIf="showCloneIndex != i" [hidden]="showCloneIndex == i">
                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Due date (DD/MM)</mat-label>
                              <input matInput [readonly]="readOnly" formControlName="dueDate">
                              <!-- <mat-datepicker-toggle matSuffix [for]="picker_1"></mat-datepicker-toggle>
                              <mat-datepicker #picker_1></mat-datepicker> -->
                            </mat-form-field>
                          </div>
                          <!-- <input matInput [matDatepicker]="picker_1" formControlName="dueDate">
                              <mat-datepicker-toggle matSuffix [for]="picker_1"></mat-datepicker-toggle>
                              <mat-datepicker #picker_1></mat-datepicker> -->
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Expiry date (DD/MM)</mat-label>
                              <input matInput [readonly]="readOnly" formControlName="expiryDate">
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="form-group" *ngIf="showCloneIndex != i" [hidden]="showCloneIndex == i">
                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Sequence</mat-label>
                              <input matInput [readonly]="readOnly" placeholder="Enter new name"
                                formControlName="sequence">
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="form-group" *ngIf="showCloneIndex != i && (updateForm.value.cloneName || updateForm.value.workflowName)" [hidden]="showCloneIndex == i">
                        <div class="row">
                          <div class="col-md-12">
                            <mat-form-field appearance="outline" *ngIf="updateForm.value.cloneName">
                              <mat-label>Workflow Name</mat-label>
                              <input matInput [readonly]="true" formControlName="cloneName">
                            </mat-form-field>
                            <mat-form-field appearance="outline" *ngIf="!updateForm.value.cloneName">
                              <mat-label>Workflow Name</mat-label>
                              <input matInput [readonly]="true" formControlName="workflowName">
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="form-group"  [hidden]="showCloneIndex != i" *ngIf="showCloneIndex == i">
                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Service workflows</mat-label>
                             <mat-select formControlName="workflowId">
                              <mat-option *ngFor="let option of serviceWorkflows" [value]="option.id">
                                {{option.name}}
                              </mat-option>
                            </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Clone name</mat-label>
                              <input matInput placeholder="Enter new name" formControlName="cloneName">
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="float-right" *ngIf="readOnly && showCloneIndex !== i">
                    <button  type="submit" class="mb-3 mr-3 float-left btn btn-outline-primary btn-sm"
                      (click)="editFn()">Edit</button>
                    <!-- <button  type="submit"
                      class="mb-3 float-right btn btn-outline-success btn-sm  mr-3" (click)="AddFn(i)">Add
                      workflow</button> -->
                    <button  type="submit"
                      class="mb-3  mr-3 float-right btn btn-outline-success btn-sm" (click)="showCloneFn(i)">Clone
                      workflow</button>
                  </div>
                  <div class="float-right" *ngIf="!readOnly">
                    <button type="submit" class="mb-3 mr-3 float-left btn btn-outline-primary btn-sm"
                      (click)="updateFn(i)">Update</button>
                  </div>
                  <div class="float-right" *ngIf="showCloneIndex == i">
                    <button type="submit" class="mb-3 mr-3 float-left btn btn-outline-primary btn-sm"
                      (click)="applyClone(i)">Clone</button>
                    <button type="button" class="mb-3 float-right btn btn-outline-success btn-sm"  (click)="CancelFn()">Cancel
                    </button>
                  </div>
                </ng-template>
              </mat-expansion-panel>
            </div>
          </div>
        </mat-accordion>
      </div>
    </div>
  </div>