<mat-dialog-content class="mat-typography">
  <div class="wfm-register_wrapper no-shadow sleek-form">
    <div class="position-relative">
      <button mat-dialog-close type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <ng-container *ngIf="!clientEntVerified">
        <h2 class="text-center">Please verify Client's Phone / Email</h2>

        <div class="d-flex justify-content-center">
          <div class="col-md-12 grey-bg">
            <div class="d-flex justify-content-center">
              <div class="col-md-8 mt-4 m-3 pl-5">
                <div *ngIf="otpVerified" class="alert alert-success" role="alert">
                  <p class="m-2">Verification successful..!</p>
                </div>
                <div class="p-1 alert alert-danger text-center wfm-error" *ngIf="RegOtpErrOccured">
                  {{RegOtpErrMsg}}
                </div>
                <ng-container *ngIf="!otpVerified">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-12 mb-4">
                        <form [formGroup]="getOtpToMode">
                          <div class="row">
                            <div class="col-md-12">
                            </div>
                            <div class="col-md-12 wfm-client_verifyTick">
                              <div class="float-left switch">
                                <input type="radio" class="switch-input" formControlName="isEmail" name="isEmail"
                                  value="false" id="phone" checked>
                                <label for="phone" class="switch-label switch-label-off">Phone</label>
                                <input type="radio" class="switch-input" formControlName="isEmail" name="isEmail"
                                  value="true" id="email">
                                <label for="email" class="switch-label switch-label-on">Email</label>
                                <span class="switch-selection"></span>
                                <span id="msg">
                                  <p class="pt-3 mb-0 text-warning" id="phnMsg">OTP will be send to Phone</p>
                                  <p class="pt-3 mb-0 text-warning" id="emailMsg">OTP will be send to Email</p>
                                </span>
                              </div>
                              <div class="float-left ml-5 pt-3">
                                <ng-container *ngIf="!otpReceived">
                                  <button type="submit" (click)="getOtpToType()"
                                    class="float-left btn btn-outline-primary btn-sm">Send OTP</button>
                                  <span class="wfm-loader float-left ml-3" *ngIf="showLoaderForMobSolo">
                                    <mat-spinner diameter="28"></mat-spinner>
                                  </span>
                                </ng-container>
                                <p *ngIf="otpReceived" class="text-success">OTP sent</p>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="col-md-12 mt-3">
                        <form [formGroup]="verifyOtpToMode">
                          <div class="row">
                            <div class="col-md-7 wfm-client_verifyTick">
                              <mat-form-field appearance="outline">
                                <mat-label>Enter OTP</mat-label>
                                <input matInput formControlName="otpfield" name="otpfield" required>
                              </mat-form-field>
                            </div>
                            <div class="col-md-5 pt-1">
                              <button *ngIf="!isMobVerified" type="submit" (click)="verifyOtpToType()"
                                class="float-left btn btn-success btn-sm">Verify</button>
                              <span class="wfm-loader float-left ml-3" *ngIf="showLoaderForMob">
                                <mat-spinner diameter="28"></mat-spinner>
                              </span>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="clientEntVerified">
        <h2 *ngIf="bankData">MODIFY BANK</h2>
        <h2 *ngIf="!bankData">ADD BANK</h2>
        <div class="d-flex justify-content-center">
          <div class="col-md-12 grey-bg">
            <div *ngIf="entityBankStatus" class="alert alert-success" role="alert">
              <h4 class="alert-heading">Success!</h4>
              <p>Your entry has been updated</p>
            </div>
            <div class="pl-3 float-left col-md-6 text-center">
              <div *ngIf="bankStatusFailure" class="mb-0 p-2 alert alert-danger" role="alert">
                {{RegOtpErrMsg}}
              </div>
            </div>
            <form *ngIf="!entityBankStatus" [formGroup]="entityBank" (submit)="submitBankData()">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Account name</mat-label>
                      <input matInput formControlName="accountName" class="form-control" name="accountName" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Bank name</mat-label>
                      <input matInput formControlName="bankName" class="form-control" name="bankName" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label> Branch name</mat-label>
                      <input matInput formControlName="bankBranchName" class="form-control" name="bankBranchName"
                        required>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Account number</mat-label>
                      <input matInput formControlName="accountNumber" class="form-control" name="accountNumber"
                        required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Customer ID</mat-label>
                      <input matInput formControlName="customerId" class="form-control" name="customerId" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Corporate user ID</mat-label>
                      <input matInput formControlName="corporateUserId" class="form-control" name="corporateUserId"
                        required>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>iBank password</mat-label>
                      <input matInput formControlName="iBankPassword" class="form-control" name="iBankPassword"
                        required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Corporate ID</mat-label>
                      <input matInput formControlName="corporateId" class="form-control" name="corporateId" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Closure date</mat-label>
                      <input matInput [matDatepicker]="picker" formControlName="closureDate" class="form-control"
                        name="closureDate">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <hr class="mb-3">
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="float-left pl-3">
                      <button class="float-left btn btn-outline-success">Submit</button>
                      <span class="wfm-loader float-left ml-3" *ngIf="showLoaderSubmit">
                        <mat-spinner diameter="28"></mat-spinner>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</mat-dialog-content>
