<div class="wfm-login_wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 wfm-login_leftPanel">
          <div class="wfm-login_sidebar">
            <h2>Welcome <span>to</span></h2>
            <h1>Lorem ipsum</h1>
          </div>
        </div>
        <div class="col-md-5 wfm-login_rightPanel">
          <div class="wfm-login_container">
            <h2>VERIFY USER</h2>
            <mat-horizontal-stepper #stepper>
              <mat-step [stepControl]="verifyUserFormGroup">
                <div class="p-1 alert alert-danger text-center wfm-error" *ngIf="loginOTPErrOccured">
                     {{loginOTPMsg}}
                </div>
                <div class="p-1 alert alert-success text-center wfm-error" *ngIf="loginOTPSuccess">
                    {{loginOTPMsg}}
                </div>
                <form [formGroup]="verifyUserFormGroup">
                    <ng-template matStepLabel>OTP verification</ng-template>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-5">
                          <label for="emailotp">Enter email OTP</label>
                          <div class="wfm-register_verified">
                            <input formControlName="emailotp" type="text" class="form-control" required>
                            <span class="wfm-success float-left" *ngIf="isEmailVerified"><img src="../../assets/tick.png"
                                alt="tick" /></span>
                          </div>
                        </div>
                        <div class="col-md-7 d-flex align-items-end">
                          <button type="submit" (click)="verifyEmail()" [disabled]="emailOtpRequested" *ngIf="!isEmailVerified"
                            class="btn btn-outline-primary btn-sm">Verify</button> 
                            <span class="wfm-loader float-left ml-3" *ngIf="showLoaderForEmail">
                            <mat-spinner diameter="28"></mat-spinner>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-5">
                          <label for="mobotp">Enter mobile OTP</label>
                          <div class="wfm-register_verified">
                          <input formControlName="mobotp" type="text" class="form-control" required>
                          <span class="wfm-success float-left" *ngIf="isMobVerified"><img src="../../assets/tick.png"
                              alt="tick" /></span>
                        </div>
                        </div>
                        <div class="col-md-7 d-flex align-items-end">
                          <button type="submit" (click)="verifyMobile()" [disabled]="mobOtpRequested" *ngIf="!isMobVerified"
                            class="btn btn-outline-primary btn-sm">Verify</button>
                          <span class="wfm-loader float-left ml-3" *ngIf="showLoaderForMob">
                            <mat-spinner diameter="28"></mat-spinner>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group mt-3 mb-0">
                      <button type="submit" disabled class="btn btn-secondary btn-sm"
                        *ngIf="!enableSetPwd">Proceed</button>
                      <button type="submit" (click)="stepper.next()" *ngIf="enableSetPwd"
                        class="btn btn-success btn-sm">Proceed</button>
                    </div>
                  </form>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
        </div>
      </div>
    </div>
  </div>