<div class="wfm-dash_wrapper container pb-5">
  <div class="container">
    <h1 class="pt-3 pb-3 pr-3 wfm-dash_pageTitle">Dashboard</h1>
    <div class="row">
      <div class="col-md-8">
        <div class="border p-3 rounded wfm-dash_description wfm-dash_bg">
          <h3>Welcome!</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="border p-3 rounded wfm-dash_created wfm-dash_bg">
          <h4>Created by</h4>
          <i>User one</i>
        </div>
      </div>
      <div class="col-md-12">
        <div class="wfm-dash_todo wfm-dash_bg border p-3 mt-5">
          <h3>Tasks</h3>
          <ul class="list-group" *ngFor="let task of taskRoot.data">
            <li class="btn list-group-item d-flex justify-content-between align-items-center"
              (click)="taskDetails(task.id, task.taskId, task.workFlowAllocationId, task.isAdministrative)">
              {{task.taskName}}
              <span class="badge-pill" [ngClass]="getTaskStatusClass(task.status)">{{task.status}}</span>
            </li>
          </ul>
          <ul class="list-group" *ngIf="!taskRoot.data.length">
            <p>No pending tasks</p>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
</div>
<app-pageloader [showloader]="showloader"></app-pageloader>