.wfm-dash {
  &_wrapper {
    border-radius: 4px;
    box-shadow: 0px 0px 20px 1px #555;
    background: #fff;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 5rem;
  }

  &_pageTitle {
    font-size: 2rem;
  }
  &_bg {
    background: #dee2e636;
  }
}
