<div class="wfm-login_wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 wfm-login_leftPanel">
          <div class="wfm-login_sidebar">
            <h2>Welcome <span>to</span></h2>
            <h1>Lorem ipsum</h1>
          </div>
        </div>
        <div class="col-md-5 wfm-login_rightPanel">
          <div class="wfm-login_container">
            <h2 *ngIf="!userRegistered">RESET PASSWORD</h2>
            <mat-horizontal-stepper #stepper>
              <mat-step [stepControl]="resetPasswordFormGroup">
                <div class="p-1 alert alert-danger text-center wfm-error" *ngIf="resetPasswordErrOccured">
                     {{loginOTPMsg}}
                </div>
                <div class="p-1 alert alert-success text-center wfm-error" *ngIf="resetPasswordSuccess">
                    {{loginOTPMsg}}
                </div>
                <form [formGroup]="resetPasswordFormGroup" (submit)="setRegisterPwd()" *ngIf="!userRegistered">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-12">
                          <label for="regpwd">Enter password*</label>
                          <input formControlName="regpwd" type="text" class="form-control" name="regpwd" [ngClass]="{ 'is-invalid': submitted && g.regpwd.errors }" required>
                          <div *ngIf="submitted && g.regpwd.errors" class="invalid-feedback">
                            <div *ngIf="g.regpwd.errors.required">Password is required</div>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-12">
                          <label for="regconfirmpwd">Confirm password*</label>
                          <input formControlName="regconfirmpwd" type="text" class="form-control" name="regconfirmpwd" [ngClass]="{ 'is-invalid': submitted && g.regconfirmpwd.errors }" required>
                          <div *ngIf="submitted && g.regconfirmpwd.errors" class="invalid-feedback">
                            <div *ngIf="g.regconfirmpwd.errors.required">Confirm password is required</div>
                            <div *ngIf="g.regconfirmpwd.errors.noMatch">Password should be same</div>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group mt-3 mb-0">
                      <button type="submit" [disabled]="userPwdSet" class="btn btn-success btn-sm">Submit</button>
                    </div>
                  </form>
                  <div *ngIf="userRegistered">
                    <h3>Password changed successfully..!</h3>
                    <hr class="my-4">
                    <p>Please use your email as username and login from login page.</p>
                    <button routerLink="/" type="button" class="btn btn-outline-dark btn-sm float-left">
                      Go back to login page
                    </button>
                  </div>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
        </div>
      </div>
    </div>
  </div>