<mat-dialog-content class="mat-typography">
  <div class="wfm-register_wrapper no-shadow sleek-form">
    <div class="position-relative">
      <button mat-dialog-close type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <ng-container *ngIf="!clientEntVerified">
        <h2 class="text-center">Please verify Client's Phone / Email</h2>

        <div class="d-flex justify-content-center">
          <div class="col-md-12 grey-bg">
            <div class="d-flex justify-content-center">
              <div class="col-md-8 mt-4 m-3 pl-5">
                <div *ngIf="otpVerified" class="alert alert-success" role="alert">
                  <p class="m-2">Verification successful..!</p>
                </div>
                <div class="p-1 alert alert-danger text-center wfm-error" *ngIf="RegOtpErrOccured">
                  {{RegOtpErrMsg}}
                </div>
                <ng-container *ngIf="!otpVerified">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-12 mb-4">
                        <form [formGroup]="getOtpToMode">
                          <div class="row">
                            <div class="col-md-12">
                            </div>
                            <div class="col-md-12 wfm-client_verifyTick">
                              <div class="float-left switch">
                                <input type="radio" class="switch-input" formControlName="isEmail" name="isEmail"
                                  value="false" id="phone" checked>
                                <label for="phone" class="switch-label switch-label-off">Phone</label>
                                <input type="radio" class="switch-input" formControlName="isEmail" name="isEmail"
                                  value="true" id="email">
                                <label for="email" class="switch-label switch-label-on">Email</label>
                                <span class="switch-selection"></span>
                                <span id="msg">
                                  <p class="pt-3 mb-0 text-warning" id="phnMsg">OTP will be send to Phone</p>
                                  <p class="pt-3 mb-0 text-warning" id="emailMsg">OTP will be send to Email</p>
                                </span>
                              </div>
                              <div class="float-left ml-5 pt-3">
                                <ng-container *ngIf="!otpReceived">
                                  <button type="submit" (click)="getOtpToType()"
                                    class="float-left btn btn-outline-primary btn-sm">Send OTP</button>
                                  <span class="wfm-loader float-left ml-3" *ngIf="showLoaderForMobSolo">
                                    <mat-spinner diameter="28"></mat-spinner>
                                  </span>
                                </ng-container>
                                <p *ngIf="otpReceived" class="text-success">OTP sent</p>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="col-md-12 mt-3">
                        <form [formGroup]="verifyOtpToMode">
                          <div class="row">
                            <div class="col-md-7 wfm-client_verifyTick">
                              <mat-form-field appearance="outline">
                                <mat-label>Enter OTP</mat-label>
                                <input matInput formControlName="otpfield" name="otpfield" required>
                              </mat-form-field>
                            </div>
                            <div class="col-md-5 pt-1">
                              <button *ngIf="!isMobVerified" type="submit" (click)="verifyOtpToType()"
                                class="float-left btn btn-success btn-sm">Verify</button>
                              <span class="wfm-loader float-left ml-3" *ngIf="showLoaderForMob">
                                <mat-spinner diameter="28"></mat-spinner>
                              </span>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="clientEntVerified">
        <h2 *ngIf="entityBranchData">MODIFY ENTITY BRANCH</h2>
        <h2 *ngIf="!entityBranchData">ADD ENTITY BRANCH</h2>
        <div class="d-flex justify-content-center">
          <div class="col-md-12 grey-bg">
            <div *ngIf="cliEntityStatus" class="alert alert-success" role="alert">
              <h4 class="alert-heading">Success!</h4>
              <p>Your entry has been updated</p>
            </div>
            <form *ngIf="!cliEntityStatus" [formGroup]="entityBranch" (submit)="submitEntityBranch()">
              <fieldset>
                <legend>TAN & TDS</legend>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Branch Name</mat-label>
                        <input matInput formControlName="entBranchName" class="form-control" name="entBranchName"
                          required>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>TAN Number</mat-label>
                        <input matInput formControlName="entTanNum" class="form-control" name="entTanNum" required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field appearance="outline">
                        <mat-label>TAN traces ID</mat-label>
                        <input matInput formControlName="entTanTracesId" class="form-control" name="entTanTracesId"
                          required>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field appearance="outline">
                        <mat-label>TDS user ID Trace</mat-label>
                        <input matInput formControlName="entTdsUserId" class="form-control" name="entTdsUserId"
                          required>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field appearance="outline">
                        <mat-label>TAN Efilling ID</mat-label>
                        <input matInput formControlName="entTanEfillingId" class="form-control" name="entTanEfillingId"
                          required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>TDS user ID tax</mat-label>
                        <input matInput formControlName="entTdsUserIdTax" class="form-control" name="entTdsUserIdTax"
                          required>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>TAN Efilling Password</mat-label>
                        <input matInput formControlName="entTanEfillingPwd" class="form-control"
                          name="entTanEfillingPwd" required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>PTRC Number</mat-label>
                        <input matInput formControlName="entPtrcNum" class="form-control" name="entPtrcNum" required>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>PTRC ID</mat-label>
                        <input matInput formControlName="entPtrcId" class="form-control" name="entPtrcId" required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>GST</legend>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field appearance="outline">
                        <mat-label>GST Number</mat-label>
                        <input matInput formControlName="entGstNum" class="form-control" name="entGstNum" required>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field appearance="outline">
                        <mat-label>GST Login ID</mat-label>
                        <input matInput formControlName="branchGstLoginId" class="form-control" name="branchGstLoginId"
                          required>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field appearance="outline">
                        <mat-label>GST Password</mat-label>
                        <input matInput formControlName="branchGstPwd" class="form-control" name="branchGstPwd"
                          required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>GST EwayBill ID</mat-label>
                        <input matInput formControlName="branchEwayBillId" class="form-control" name="branchEwayBillId"
                          required>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>GST EwayBill password</mat-label>
                        <input matInput formControlName="branchGstEwayBillPwd" class="form-control"
                          name="branchGstEwayBillPwd" required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>GST Email</mat-label>
                        <input matInput formControlName="branchGstEmail" class="form-control" name="branchGstEmail"
                          required>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>GST Mobile</mat-label>
                        <input matInput formControlName="branchGstMob" class="form-control" name="branchGstMob"
                          required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <legend>Address</legend>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Address 1</mat-label>
                        <input matInput formControlName="branchAddrOne" class="form-control" name="branchAddrOne"
                          required>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Address 2</mat-label>
                        <input matInput formControlName="branchAddrTwo" class="form-control" name="branchAddrTwo"
                          required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field appearance="outline">
                        <mat-label>Locality</mat-label>
                        <input matInput formControlName="branchLocality" class="form-control" name="branchLocality"
                          required>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field appearance="outline">
                        <mat-label>City</mat-label>
                        <input matInput formControlName="branchCity" class="form-control" name="branchCity" required>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field appearance="outline">
                        <mat-label>State</mat-label>
                        <input matInput formControlName="branchState" class="form-control" name="branchState" required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Country</mat-label>
                        <input matInput formControlName="branchCountry" class="form-control" name="branchCountry"
                          required>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Zip</mat-label>
                        <input matInput formControlName="branchZip" class="form-control" name="branchZip" required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="row">
                <div class="col-md-12">
                  <hr class="mb-3">
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="float-left pl-3">
                      <button class="float-left btn btn-outline-success">Submit</button>
                      <span class="wfm-loader float-left ml-3" *ngIf="showLoaderSubmit">
                        <mat-spinner diameter="28"></mat-spinner>
                      </span>
                    </div>
                    <div class="pl-3 float-left col-md-6 text-center">
                      <div *ngIf="cliEntyStatusFailure" class="mb-0 p-2 alert alert-danger" role="alert">
                        {{RegOtpErrMsg}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</mat-dialog-content>
