@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600&display=swap');

.wfm_wrapper {
  min-height: 100%;
  float: left;
  width: 100%;
}

html,
body {
  font-family: 'Prompt', sans-serif;
  height: 100%;
  position: relative;
  color: #1B3C4E;
  background-image: linear-gradient(to right, #10C99F, #12A9C3);
}

html,
body {
  height: 100%;
}

footer {
  float: left;
  width: 100%;
  min-height: 60px;
}

body {
  padding-top: 60px;
}

.mat-typography {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Prompt', sans-serif;
    color: #1B3C4E;
  }
}

.btn-primary {
  color: #fff;
  background-color: #11C47A;
  border-color: #11C47A;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #11C47A;
  border-color: #11C47A;
  opacity: 0.8;
  box-shadow: none;
}

header {
  min-height: 30px;
  background: #11b7b3;
  box-shadow: 0px 0px 20px 1px #555;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

section {
  height: 100%;
}

body a {
  color: #11b7b3;
  text-decoration: underline;
}

.form-control {
  border: 0;
  border-bottom: 1px solid #ced4da;
  padding-left: 0;
  height: auto;
  line-height: 1rem;
  background: transparent;
}

.form-control:focus {
  box-shadow: none;
  background: transparent;
}

label {
  font-weight: 500;
  font-size: 0.8rem;
}

.wfm {
  &-addmore {
    position: relative;
    border: 2px dotted #dedede;
    border-radius: 4px;
    display: inline-block;
  }

  &-loader {
    img {
      width: 1.5rem;
      margin: 0 15px;
    }
  }

  &-error {
    font-size: 0.8rem;
  }

  &-success {
    position: absolute;
    right: 10px;
    top: 4px;

    img {
      width: 15px;
    }
  }

  &_wrapper {

    .mat-stepper-horizontal {
      background: transparent;
    }

    .mat-horizontal-content-container {
      padding: 0;
    }

  }

  &-checkbox {
    &_wrap {
      padding-top: 10px;
    }
  }

  &-register {
    &_verified {
      position: relative;
    }

    &_wrapper {
      
      tr.mat-header-row {
        height: 35px;
      }
      tr.mat-row, tr.mat-footer-row {
        height: 42px;
      }
      .mat-paginator-page-size-select {
        margin: 0;
        width: 56px;
      }
      .mat-paginator-container {
        min-height: 36px;
     }
      &.no-shadow {
        box-shadow: none;
        margin: 0;
        padding: 0;
      }

      border-radius: 4px;
      box-shadow: 0px 0px 20px 1px #555;
      background: #fff;
      padding: 1rem 1rem 4rem 1rem;
      margin: 0 auto;
      margin-top: 1.8rem;
      position: relative;

      > h2 {
        text-align: center;
        position: absolute;
        top: -2rem;
        background: #fff;
        padding: 0.5rem 2rem 0.5rem 1.4rem;
        border-radius: 5px;
        left: 0;
      }

      .form-group {
        float: left;
        width: 100%;
      }
    }
  }

  &-login {

    &_rightPanel {
      text-align: right;
    }

    &_wrapper {
      padding-bottom: 5rem;
      margin-top: 5rem;
    }

    &_container {
      background: #fff;
      padding: 1rem;
      border-radius: 4px;
      width: 75%;
      box-shadow: 0px 0px 20px 1px #555;
      display: inline-block;
      text-align: left;

      h2 {
        width: 100%;
        text-align: center;
        padding: 1rem 0;
      }

      button {
        width: 100%;
      }

      .mat-horizontal-stepper-header-container {
        display: none;
      }
    }

    &_sidebar {
      width: 80%;

      h1 {
        font-size: 3.5rem;
      }
    }

    &_toregister {
      width: 100%;
      margin: 1.5rem 0 1rem 0;
      font-size: 0.9rem;
    }

    &_divider {
      width: 100%;
      text-align: center;
      padding: 1rem 0;
      font-size: 0.7rem;
      color: #dedede;
      position: relative;
      margin: 1rem 0;

      &:after {
        content: "";
        height: 1px;
        background: #dedede;
        width: 100%;
        float: left;
      }

      span {
        position: absolute;
        background: #fff;
        padding: 5px;
        border-radius: 50%;
        top: 2px;
        left: 43%;
        color: #1B3C4E;
      }
    }
  }

  &-checkbox {
    &_wrap {
      .form-check {
        float: left;
        margin-right: 1rem;
      }

      .form-check-input {
        margin-top: 0.2rem;
      }
    }
  }

  &-register {
    &_wrapper {

      .mat-stepper-horizontal,
      .mat-stepper-vertical {
        background: transparent;
      }


      .mat-step-header .mat-step-label.mat-step-label-active {
        color: #1B3C4E;
        font-size: 1.1rem;
      }

      .mat-vertical-content {
        padding: 2rem 1.5rem;
        display: inline-block;
        width: 100%;
        text-align: left;
        border-radius: 4px;
        margin: 2rem 0;
        background: #eeeeee38;
      }

      .mat-vertical-stepper-content {
        padding: 0 2rem;
      }

      .mat-vertical-content-container {
        margin-left: 18px;
      }

      .mat-vertical-stepper-header {
        background: #dedede69;
        border-bottom: 1px solid #dedede;
      }

      .mat-step-header .mat-step-icon-selected,
      .mat-step-header .mat-step-icon-state-done,
      .mat-step-header .mat-step-icon-state-edit,
      .mat-step-header .mat-step-icon {
        background-color: #70a597;
        color: #fff;
        font-size: 0.8rem;
      }

      .mat-step-header.cdk-keyboard-focused,
      .mat-step-header.cdk-program-focused,
      .mat-step-header:hover {
        opacity: 0.8;
      }

      .mat-vertical-stepper-header {
        background: #89c9b8;
        border-radius: 20px;
        padding: 6px;
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: auto;
      }

      .mat-stepper-vertical-line::before {
        border-left-color: #66666647;
      }

      .mat-step-header .mat-step-label.mat-step-label-active {
        color: #fff;
        float: left;
        font-weight: normal;
        font-size: 0.9rem;
      }

      .mat-horizontal-stepper-header-container .mat-step-label.mat-step-label-active {
        color: #1B3C4E;
      }

      .mat-horizontal-stepper-header {
        height: 32px;
      }

      .mat-vertical-stepper-header.cdk-focused,
      .mat-vertical-stepper-header[aria-selected="true"] {
        background-color: #4f8a8b;

        .mat-step-icon {
          background-color: #2e5050;
        }
      }

      .mat-radio-outer-circle {
        border-color: #ced4da;
      }

      .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color: #39808c;
      }

      .mat-radio-button.mat-accent .mat-radio-inner-circle,
      .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
      .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
      .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
        background-color: #39808c;
      }

      .mat-radio-button {
        margin-right: 1rem;
      }
    }
  }



}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #39808c;
}

button.model_close {
  right: 0;
  font-size: 0.8rem;
  padding: 0;
  height: 1.6rem;
  width: 1.5rem;
  border-radius: 50%;
  text-align: center;
}

.custom-form_badge {
  background: #dedede4d;
  border: 2px dotted #dedede;
  border-radius: 5px;
  padding: 1rem;
  position: relative;
}

.form_badge-close {
  width: 25px;
  background: #dedede;
  display: inline-block;
  text-align: center;
  padding: 3px;
  border-radius: 50%;
  height: 25px;
  position: absolute;
  z-index: 100;
  right: 0px;
  font-size: 0.8rem;
  cursor: pointer;
  min-width: 1rem;
}

.custom-form_badge input[readonly] {
  background: transparent;
  font-size: 0.8rem;
  padding: 0.4rem;
  border-radius: 0;
}

/* Form custom colors START*/
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #1B3C4E;
}

.mat-horizontal-stepper-header-container .mat-step-header[aria-selected="false"] .mat-step-icon {
  background: #ddd;
}

.mat-horizontal-stepper-header-container .mat-step-header[aria-selected="false"] .mat-step-label-active {
  color: #999;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border: 1px solid #1B3C4E;
}

.mat-form-field-appearance-outline .mat-form-field-outline-gap {
  border-radius: .000001px;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #1B3C4E;
}

.mat-form-field-label,
.mat-select-value,
.mat-select-arrow,
.mat-form-field.mat-focused .mat-form-field-label,
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #1B3C4E;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #fff;
}

.mat-form-field {
  width: 100%;
}

.mat-horizontal-stepper-header::before,
.mat-horizontal-stepper-header::after,
.mat-stepper-horizontal-line {
  border-top-color: #dedede;
}

.mat-horizontal-stepper-header-container {
  margin: 20px 0;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.3em) scale(0.75);
  width: 133.3333333333%;
}

.mat-form-field-appearance-outline .mat-form-field-label {
  top: 1.5em;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.7em 0 0.7em 0;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
  border-width: 1px;
}

.table thead th {
  font-weight: 500;
}

legend {
  display: inline-block;
  width: auto;
  padding: 0 0.5rem;
  font-size: 1rem;
  color: #1b3c4e91;
}

fieldset {
  padding: 1rem;
  border: 1px solid #66666647;
  border-radius: 4px;
  margin: 1rem 0;
}

/* Form custom colors END*/
.wfm-custom-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  left: 0;
  top: 0;
  text-align: center;
  pointer-events: none;
  background: #4242426e;
}

.wfm-custom-loader span {
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Prompt', sans-serif;
  margin-top: 5rem;
  display: inline-block;
}

.wfm-custom-loader .mat-progress-spinner {
  display: inline-block;
}

.mat-progress-bar.mat-accent .mat-progress-bar-fill::after {
  background-color: #f0a500;
}

.mat-progress-bar.mat-accent .mat-progress-bar-buffer {
  background-color: #f4f6ff;
}

body .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  width: 1.3em;
  height: 1.8em;
}

body .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
  width: 2.3em;
  height: 2.2em;
}

// body .mat-icon-button {
//   background: #70a597;
// }

body .mat-datepicker-toggle-active {
  color: #fff;
}

body .mat-datepicker-content .mat-calendar-previous-button,
body .mat-datepicker-content .mat-calendar-next-button {
  background: transparent;
}

body .mat-calendar-body-selected {
  background-color: #4f8a8b;
}

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
  box-shadow: none;
}

button:focus {
  outline: 0 none;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #70a597;
}

.mat-checkbox-frame {
  border-color: #1B3C4E;
}

.mat-checkbox-layout .mat-checkbox-label {
  font-size: 0.9rem;
  font-weight: 400;
}

.mat-checkbox-checkmark-path {
  stroke: #fff !important;
}

.grey-bg {
  background: #eeeeee38;
  padding: 2rem 1.5rem;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #1B3C4E;
}

.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
  background: #70a597;
}

.mat-pseudo-checkbox::after {
  color: #fff;
}

table {
  width: 100%;
}

.mat-expansion-panel {
  background: #70a597cf;
  color: #fff;
}

body .mat-paginator-range-actions .mat-icon-button {
  background: transparent;
}

.mat-expansion-panel-content {
  background: #fdfdfd;
}

.mat-typography .mat-input-element,
.mat-typography .mat-checkbox-layout .mat-checkbox-label {
  color: #1B3C4E;
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after,
.mat-expansion-panel-header-title {
  color: #fff;
}

.wfm_wrapper {

  mat-expansion-panel-header.mat-expanded,
  mat-expansion-panel-header.mat-expanded:hover,
  mat-expansion-panel-header.mat-expanded:focus {
    background: #6c757d2e;
  }

  .mat-expansion-panel-header {
    border-radius: 0;
  }
}

.mat-horizontal-stepper-header-container {
  width: 80%;
  margin: 30px auto;
}

.mat-form-field-disabled .mat-input-element {
  color: #999;
}

.wfm-task_dataListAccordion {
  display: inline-block;
  width: 100%;
}

.mat-dialog-container {
  background: #fff;
}

.wfm-badge {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
}

.wfm-disable {
  color: #999;
}

img.wfm-verified {
  width: 15px;
  margin-left: 5px;
}

/**/

.db-tree-view {
  width: 100% !important;

  th {
    font-weight: 500 !important;
    background: transparent !important;
    border: 1px solid transparent !important;
    border-bottom: 1px solid #cdd5dc !important;
  }

  tr {
    background: transparent !important;

    td {
      padding: 0.6rem !important;
      border: 1px solid transparent !important;
      border-bottom: 1px solid #cdd5dc !important;
    }
  }

  .expand-icon {
    margin-right: 8px;
    float: left;
    width: auto;
    height: auto;
    line-height: 1rem;
    color: #fff;

    &.closed:after {
      content: "›";
      color: #000;
      font-style: normal;
      font-size: 1.5rem;
      float: left;
    }

    &.opened:after {
      content: "›";
      color: #000;
      font-style: normal;
      font-size: 1.5rem;
      float: left;
      transform: rotate(90deg);
    }
  }
}


.wfm-fees {
  &_loader {
    position: relative;
    // min-height: 200px;
  }

  &_loader-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.mat-header-cell {
  background: #5f7082;
  color: #fff;
}

.wfm-fees-table tr.mat-row:nth-child(odd) {
  background: #e9eff569;
}

.wfm-fees-table td.mat-cell {
  border-bottom-color: rgb(0 0 0 / 5%);
}

.wfm-fees_container {
  position: relative;
  overflow: auto;
  min-height: 5rem;
}

button {
  min-width: 5rem;
}

button.close {
  min-width: 1px;
}

.wfm-nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  float: left;
  background: #119693;
  margin-right: 1px;
  font-family: "Prompt", sans-serif;
}

.wfm-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.wfm-nav li {
  float: left;
}

.wfm-nav a:hover {
  background: #0ca9a5b0;
}

.mat-form-field-empty mat-label,
.mat-form-field-empty .mat-form-field-required-marker {
  opacity: 0.5;
}

/**/
.sleek-form {
  .mat-form-field-label-wrapper {
    top: -1.14375em;
    padding-top: .84375em;
    font-size: 0.8rem;
  }

  .mat-typography .mat-input-element,
  .mat-typography .mat-checkbox-layout .mat-checkbox-label {
    font-size: 0.8rem;
  }

  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.2em) scale(0.75);
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
  .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
  .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
    border-width: 1px;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 3px 0 0 3px;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.3em 0px;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0 3px 3px 0;
  }

  textarea.mat-input-element.cdk-textarea-autosize {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
  }

  .mat-horizontal-stepper-header-container {
    margin: 10px auto 20px auto;
    width: 40%;
  }

  .table .thead-dark th {
    color: #fff;
    background-color: #5f7082;
    border-color: #5f7082;
  }

  .group_1 {
    background-color: #8fd19e47;
  }

  .group_2 {
    background-color: #ed969e2e;
  }

  .group_3 {
    background-color: #ffdf7e45;
  }

  .group_4 {
    background-color: #454d552e;
  }

  .group_5 {
    background-color: #ffc1074f;
  }

  .group_6 {
    background-color: #17a2b838;
  }


}

.switch {
  position: relative;
  height: 46px;
  width: 200px;
  background: rgb(0 0 0 / 12%);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 100px;
  line-height: 45px;
  font-size: 13px;
  color: #000;
  text-align: center;
  cursor: pointer;
}

.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}


.switch-input {
  display: none;
}

.switch-input:checked+.switch-label {
  font-weight: bold;
  color: #fff;
  font-family: "Prompt", sans-serif;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -ms-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
#emailMsg {display: none;}

#email:checked~#msg > #phnMsg {display: none;}
#email:checked~#msg > #emailMsg {display: block;}

.switch-input:checked+.switch-label-on~.switch-selection {
  left: 97px;
}

app-uielement.ng-touched.ng-invalid .mat-form-field-appearance-outline .mat-form-field-outline {
  color: red !important;
}

.switch-selection {
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 3px;
  display: block;
  width: 100px;
  height: 40px;
  border-radius: 3px;
  background-color: #11AEBC;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -ms-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}