<mat-dialog-content class="mat-typography">
  <div class="wfm-register_wrapper no-shadow sleek-form">
    <div class="position-relative">
      <button mat-dialog-close type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2>ADD QUOTATION</h2>
      <div class="d-flex justify-content-center">
        <div class="col-md-12 grey-bg">
          <div *ngIf="quotationStatus" class="alert alert-success" role="alert">
            <h4 class="alert-heading">Success!</h4>
            <p>Your entry has been updated</p>
          </div>
          <form *ngIf="!quotationStatus" [formGroup]="quotation" (keydown.enter)="$event.preventDefault()"
            (ngSubmit)="createQuotation(quotation.value)">
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" name="name">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Consultant</mat-label>

                    <mat-select name="Consultant" formControlName="consultantId">
                      <ng-container *ngFor="let consultant of consultants">
                        <mat-option [value]="consultant.id">{{consultant.firstName}} {{consultant.middleName}}
                          {{consultant.lastName}}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <fieldset>
              <legend>GST</legend>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <mat-checkbox formControlName="isGSTApplicable">Is GST applicable?
                    </mat-checkbox>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field appearance="outline">
                      <mat-label>GST rate</mat-label>
                      <input matInput name="gstrate" formControlName="gstRate">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend>TDS</legend>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <mat-checkbox formControlName="isTDSApplicable">Is TDS applicable?
                    </mat-checkbox>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>TDS section</mat-label>
                      <input matInput formControlName="tdsSection">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>TDS percentage</mat-label>
                      <input matInput formControlName="tdsPercentage">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>TDS amount</mat-label>
                      <input matInput formControlName="tdsAmount">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend>Subscriptions</legend>
              <ng-container formArrayName="addSubscriptions">
                <ng-container
                  *ngFor="let subscription of quotation.controls.addSubscriptions['controls']; let idx = index"
                  [formGroupName]="idx">
                  <mat-accordion class="wfm-task_dataListAccordion mb-3" multi>

                    <mat-expansion-panel (opened)="position=idx" [expanded]="position==idx">
                      <mat-expansion-panel-header>
                        <mat-panel-title class="align-items-center">
                          Subscription {{idx+1}}
                        </mat-panel-title>
                        <mat-panel-description class="justify-content-end align-items-end">
                          <button type="button" *ngIf="idx > 0" (click)="deleteSubscription(idx, idx+1)"
                            class="float-right btn btn-outline-light btn-sm">Remove</button>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                        <div class="wfm-addmore p-3 mb-3 mt-3">
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-12">

                                <mat-form-field appearance="outline">
                                  <mat-label>Subscription name</mat-label>
                                  <input matInput name="subname" formControlName="name">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                  <mat-label>Service</mat-label>
                                  <mat-select (selectionChange)="onServiceChange($event,idx)"
                                    formControlName="serviceId">
                                    <ng-container *ngFor="let service of services">
                                      <mat-option [value]="service.id">{{service.name}} </mat-option>
                                    </ng-container>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                  <mat-label>Financial yr.</mat-label>
                                  <mat-select formControlName="financialYearId">
                                    <ng-container *ngFor="let year of financialYears">
                                      <mat-option [value]="year.id">{{year.value}}</mat-option>
                                    </ng-container>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="row">

                              <div class="col-md-4">

                                <mat-form-field appearance="outline">
                                  <mat-label>Client</mat-label>
                                  <mat-select formControlName="qClients" (selectionChange)="onClientChange($event,idx)">
                                    <ng-container *ngFor="let client of clients">
                                      <mat-option [value]="client.id">{{client.title}} {{client.firstName}}
                                        {{client.middleName}} {{client.lastName}}</mat-option>
                                    </ng-container>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                  <mat-label>Branch ID</mat-label>
                                  <mat-select formControlName="branchId" name="branchId">
                                    <ng-container *ngFor="let branch of branches[idx]">
                                      <mat-option [value]="branch.id">{{branch.entityName}} -> {{branch.branchName}}
                                      </mat-option>
                                    </ng-container>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                  <mat-label>Periods</mat-label>
                                  <mat-select formControlName="periods" name="periods" multiple>
                                    <ng-container *ngFor="let period of periods[idx]">
                                      <mat-option [value]="period.id">{{period.name}} </mat-option>
                                    </ng-container>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                  <mat-label>Amount 1</mat-label>
                                  <input formControlName="amount1" matInput name="amnt1">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                  <mat-label>Amount 2</mat-label>
                                  <input formControlName="amount2" matInput name="amnt2">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                  <mat-label>Amount 3</mat-label>
                                  <input formControlName="amount3" matInput name="amnt3">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                  <mat-label>Amount 4</mat-label>
                                  <input formControlName="amount4" matInput name="amnt4">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                  <mat-label>Advance amount</mat-label>
                                  <input formControlName="advanceAmount" matInput name="amnt5">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </mat-expansion-panel>
                  </mat-accordion>
                </ng-container>
              </ng-container>
              <div class="col-md-12">
                <div class="row">
                  <button type="button" (click)="addSubscriptions()"
                    class="mr-3 float-right btn btn-outline-primary btn-sm">+ Add subscription</button>
                  <div *ngIf="subscriptionValid" class="mb-0 p-2 alert alert-danger" role="alert">
                    Please fill all values to add more subscription
                  </div>
                </div>
              </div>
            </fieldset>
            <div class="row">
              <div class="col-md-12">
                <hr class="mb-3">
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="float-left pl-3">
                    <button class="float-left btn btn-outline-success">Submit</button>
                    <span class="wfm-loader float-left ml-3" *ngIf="showLoaderSubmit">
                      <mat-spinner diameter="28"></mat-spinner>
                    </span>
                  </div>
                  <div class="pl-3 float-left col-md-6 text-center">
                    <div *ngIf="quotationStatusFailure" class="mb-0 p-2 alert alert-danger" role="alert">
                      {{RegOtpErrMsg}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
