<div class="wfm-register_wrapper col-md-12 sleek-form" id="workflowForm">
  <h2 class="text-center">Create workflow</h2>
  <div class="d-flex justify-content-center">
    <form [formGroup]="addrDetails">
      <div class="col-md-12 grey-bg">
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Workflow name</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <div class="col-md-12 pt-2">
                <div class="row">
                  <div class="col-md-5">
                    <mat-checkbox>
                      Is retrospective?
                    </mat-checkbox>
                  </div>
                  <div class="col-md-5">
                    <mat-checkbox>Is sequential?
                    </mat-checkbox>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <button class="float-right mb-3 btn btn-outline-primary">Add task +</button>
            </div>
          </div>
        </div>
        <mat-accordion class="wfm-task_dataListAccordion mb-3" multi>
          <ng-container>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header [collapsedHeight]="'35px'" [expandedHeight]="'40px'">
                <mat-panel-title class="align-items-center">
                  Task
                </mat-panel-title>
                <mat-panel-description class="justify-content-end align-items-end">
                  <button type="button" class="float-right btn btn-outline-light p-0 btn-sm">Remove</button>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <div class="mt-3">
                  <ng-template>Enter your details</ng-template>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-3">
                        <mat-form-field appearance="outline">
                          <mat-label>Task Name</mat-label>
                          <input matInput placeholder="Three column ex">
                        </mat-form-field>
                      </div>

                      <div class="col-md-3">
                        <mat-form-field appearance="outline">
                          <mat-label>Owner role</mat-label>
                          <mat-select>
                            <mat-option value="Option one">Option one</mat-option>
                            <mat-option value="Option two">Option two</mat-option>
                            <mat-option value="Option three">Option three</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field appearance="outline">
                          <mat-label>Display type role</mat-label>
                          <mat-select>
                            <mat-option value="Option one">Option one</mat-option>
                            <mat-option value="Option two">Option two</mat-option>
                            <mat-option value="Option three">Option three</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field appearance="outline">
                          <mat-label>Description</mat-label>
                          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5"></textarea>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <h3 class="float-left">List:</h3>
                  <div class="mb-3 float-right">
                    <button (click)="openDialog('add')" type="submit" class="btn btn-outline-primary btn-sm mr-3">
                      Add task data
                    </button>
                    <button (click)="openDialog('group')" type="submit" class="btn btn-outline-primary btn-sm">
                      Group data
                    </button>
                  </div>
                  <table class="shadow bg-white rounded table table-bordered">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Task data Name</th>
                        <th scope="col">Name</th>
                        <th scope="col">Data type</th>
                        <th scope="col">Validation</th>
                        <th scope="col" class="text-center" width="120">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="group_1">
                        <td rowspan="4">Sample parent name 1</td>
                      </tr>
                      <tr class="group_1">
                        <td>customer name</td>
                        <td>Approve</td>
                        <td>Required</td>
                        <td>
                          <div class="action_image">
                            <a (click)="openDialog('view')" href="javascript:void(0)"><img src="../../assets/view.png"
                                alt="action_img" /></a>
                            <a (click)="openDialog('edit')" href="javascript:void(0)"><img src="../../assets/edit.png"
                                alt="action_img" /></a>
                            <a href="javascript:void(0)"><img src="../../assets/del.png" alt="action_img" /></a>
                          </div>
                        </td>
                      </tr>
                      <tr class="group_1">
                        <td>Phone number</td>
                        <td>Approve</td>
                        <td>Required</td>
                        <td>
                          <div class="action_image">
                            <a (click)="openDialog('view')" href="javascript:void(0)"><img src="../../assets/view.png"
                                alt="action_img" /></a>
                            <a (click)="openDialog('edit')" href="javascript:void(0)"><img src="../../assets/edit.png"
                                alt="action_img" /></a>
                            <a href="javascript:void(0)"><img src="../../assets/del.png" alt="action_img" /></a>
                          </div>
                        </td>
                      </tr>
                      <tr class="group_1">
                        <td>Email</td>
                        <td>Approve</td>
                        <td>Required</td>
                        <td>
                          <div class="action_image">
                            <a (click)="openDialog('view')" href="javascript:void(0)"><img src="../../assets/view.png"
                                alt="action_img" /></a>
                            <a (click)="openDialog('edit')" href="javascript:void(0)"><img src="../../assets/edit.png"
                                alt="action_img" /></a>
                            <a href="javascript:void(0)"><img src="../../assets/del.png" alt="action_img" /></a>
                          </div>
                        </td>
                      </tr>
                      <tr class="group_2">
                        <td>-</td>
                        <td>PAN</td>
                        <td>Approve</td>
                        <td>-</td>
                        <td>
                          <div class="action_image">
                            <a (click)="openDialog('view')" href="javascript:void(0)"><img src="../../assets/view.png"
                                alt="action_img" /></a>
                            <a (click)="openDialog('edit')" href="javascript:void(0)"><img src="../../assets/edit.png"
                                alt="action_img" /></a>
                            <a href="javascript:void(0)"><img src="../../assets/del.png" alt="action_img" /></a>
                          </div>
                        </td>
                      </tr>
                      <tr class="group_3">
                        <td rowspan="4">Sample parent name 2</td>
                      </tr>
                      <tr class="group_3">
                        <td>customer name</td>
                        <td>Approve</td>
                        <td>Required</td>
                        <td>
                          <div class="action_image">
                            <a (click)="openDialog('view')" href="javascript:void(0)"><img src="../../assets/view.png"
                                alt="action_img" /></a>
                            <a (click)="openDialog('edit')" href="javascript:void(0)"><img src="../../assets/edit.png"
                                alt="action_img" /></a>
                            <a href="javascript:void(0)"><img src="../../assets/del.png" alt="action_img" /></a>
                          </div>
                        </td>
                      </tr>
                      <tr class="group_3">
                        <td>Phone number</td>
                        <td>Approve</td>
                        <td>Required</td>
                        <td>
                          <div class="action_image">
                            <a (click)="openDialog('view')" href="javascript:void(0)"><img src="../../assets/view.png"
                                alt="action_img" /></a>
                            <a (click)="openDialog('edit')" href="javascript:void(0)"><img src="../../assets/edit.png"
                                alt="action_img" /></a>
                            <a href="javascript:void(0)"><img src="../../assets/del.png" alt="action_img" /></a>
                          </div>
                        </td>
                      </tr>
                      <tr class="group_3">
                        <td>Email</td>
                        <td>Approve</td>
                        <td>Required</td>
                        <td>
                          <div class="action_image">
                            <a (click)="openDialog('view')" href="javascript:void(0)"><img src="../../assets/view.png"
                                alt="action_img" /></a>
                            <a (click)="openDialog('edit')" href="javascript:void(0)"><img src="../../assets/edit.png"
                                alt="action_img" /></a>
                            <a href="javascript:void(0)"><img src="../../assets/del.png" alt="action_img" /></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-template>

            </mat-expansion-panel>
          </ng-container>
        </mat-accordion>
      </div>
    </form>
  </div>
</div>
