<div class="wfm-register_wrapper col-md-12 pt-3 pb-5 pl-4 pr-4">
  <h2>QUOTATION LIST</h2>
  <div class="d-flex justify-content-end col-md-12 mb-3">
    <div class="row">
      <button (click)="openDialog()" class="float-right btn btn-sm btn-outline-primary">Add more +</button>
    </div>
  </div>

  <div class="wfm-fees_limit-reached alert alert-warning" *ngIf="isRateLimitReached">
    Sorry, no data found..!
  </div>
  <div class="wfm-fees_loader mat-elevation-z8">
    <div class="wfm-fees_loader-shade" *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults" diameter="50"></mat-spinner>
    </div>

    <div class="wfm-fees_container">
      <table mat-table [dataSource]="data" class="wfm-fees-table" matSort>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <ng-container matColumnDef="consultantName">
          <th mat-header-cell *matHeaderCellDef> Consultant name </th>
          <td mat-cell *matCellDef="let row">{{row.consultantName}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let row">{{row.status}}</td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef>Created date</th>
          <td mat-cell *matCellDef="let row">{{row.createdDate}}</td>
        </ng-container>

        <ng-container matColumnDef="subscriptionCount">
          <th mat-header-cell *matHeaderCellDef>Subscription count</th>
          <td mat-cell *matCellDef="let row">{{row.subscriptionCount}}</td>
        </ng-container>


        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <a href="javascript:void(0)" (click)="openDialog()">View details</a> &nbsp;/&nbsp;
            <a href="javascript:void(0)" (click)="openDialog()">Modify</a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
