<div class="wfm-register_wrapper">
  <div class="d-flex justify-content-center">
    <div class="col-md-9">
      <h2>MEMBER REGISTRATION</h2>
      <mat-vertical-stepper #stepper [linear]="isLinear">
        <mat-step [stepControl]="regBasicDetails">
          <div class="p-1 alert alert-danger text-center wfm-error" *ngIf="RegErrOccured">
            {{RegErrMsg}}
          </div>
          <form [formGroup]="regBasicDetails" (submit)="userRegBasicDetails(stepper)">
            <ng-template matStepLabel>Enter your details</ng-template>
            <div class="form-group">
              <label class="form-check-label">Title*</label>
              <div class="wfm-checkbox_wrap">
                <mat-radio-group formControlName="regtitle"
                  [ngClass]="{ 'is-invalid': submitted && registerForm.regtitle.errors }">
                  <mat-radio-button value="mr">Mr</mat-radio-button>
                  <mat-radio-button value="ms">Ms</mat-radio-button>
                  <mat-radio-button value="mrs">Mrs</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="submitted && registerForm.regtitle.errors" class="invalid-feedback">
                  <div *ngIf="registerForm.regtitle.errors.required">Title is required</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <label for="regfname">First name*</label>
                  <input [ngClass]="{ 'is-invalid': submitted && registerForm.regfname.errors }"
                    formControlName="regfname" type="text" class="form-control" required>
                  <div *ngIf="submitted && registerForm.regfname.errors" class="invalid-feedback">
                    <div *ngIf="registerForm.regfname.errors.required">First name is required</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="regmname">Middle name</label>
                  <input formControlName="regmname" type="text" class="form-control" required>
                </div>
                <div class="col-md-4">
                  <label for="reglname">Last name*</label>
                  <input formControlName="reglname" type="text" class="form-control" required
                    [ngClass]="{ 'is-invalid': submitted && registerForm.reglname.errors }">
                  <div *ngIf="submitted && registerForm.reglname.errors" class="invalid-feedback">
                    <div *ngIf="registerForm.reglname.errors.required">Last name is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label for="regemail">Email address*</label>
                  <input type="text" class="form-control" name="regemail" #regemail formControlName="regemail"
                    [ngClass]="{ 'is-invalid': submitted && registerForm.regemail.errors }">
                  <div *ngIf="submitted && registerForm.regemail.errors" class="invalid-feedback">
                    <div *ngIf="registerForm.regemail.errors.required">Email address is required</div>
                    <div *ngIf="registerForm.regemail.errors.email">Email address is invalid</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="regmobile">Mobile number*</label>
                  <input type="text" class="form-control" name="regmobile" #regmobile formControlName="regmobile"
                    [ngClass]="{ 'is-invalid': submitted && registerForm.regmobile.errors }">
                  <div *ngIf="submitted && registerForm.regmobile.errors" class="invalid-feedback">
                    <div *ngIf="registerForm.regmobile.errors.required">Mobile number is required</div>
                    <div *ngIf="registerForm.regmobile.errors.minlength">Mobile number must be at least 10 characters
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group mt-3 mb-0">
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" [disabled]="otpRequested" class="float-left btn btn-success btn-sm">
                    Send
                    OTP
                  </button>
                  <span class="wfm-loader float-left ml-3" *ngIf="showLoader">
                    <mat-spinner diameter="28"></mat-spinner>
                  </span>
                </div>
                <div class="col-md-12">
                  <p class="pt-3 mb-0 text-warning">(OTP will be sent to both Email & Mobile for verification)</p>
                </div>

              </div>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="regOtpVerification">
          <div class="p-1 alert alert-danger text-center wfm-error" *ngIf="RegOtpErrOccured">
            {{RegOtpErrMsg}}
          </div>
          <form [formGroup]="regOtpVerification">
            <ng-template matStepLabel>OTP verification</ng-template>
            <div class="form-group">
              <div class="row">
                <div class="col-md-5">
                  <label for="emailotp">Enter email OTP</label>
                  <div class="wfm-register_verified">
                    <input formControlName="emailotp" type="text"  [ngClass]="{ 'is-invalid': emailOtpSubmitted && otpVerificationForm.emailotp.errors }" class="form-control" required>
                    <div *ngIf="emailOtpSubmitted && otpVerificationForm.emailotp.errors" class="invalid-feedback">
                      <div *ngIf="otpVerificationForm.emailotp.errors.required">Email OTP is required</div>
                      <div *ngIf="otpVerificationForm.emailotp.errors.minlength">Email OTP must be at least 8 characters</div>
                    </div>
                    <span class="wfm-success float-left" *ngIf="isEmailVerified">
                      <img src="../../assets/tick.png" alt="tick" />
                    </span>
                  </div>
                </div>
                <div class="col-md-7 d-flex align-items-end">
                  <button type="submit" (click)="verifyEmail()" [disabled]="emailOtpRequested" *ngIf="!isEmailVerified"
                    class="btn btn-outline-primary btn-sm">
                    Verify
                  </button>
                  <span class="wfm-loader float-left ml-3" *ngIf="showLoaderForEmail">
                    <mat-spinner diameter="28"></mat-spinner>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-5">
                  <label for="mobotp">Enter mobile OTP</label>
                  <div class="wfm-register_verified">
                    <input formControlName="mobotp" type="text"  [ngClass]="{ 'is-invalid': mobileOtpSubmitted && otpVerificationForm.mobotp.errors }" class="form-control" required>
                    <div *ngIf="mobileOtpSubmitted && otpVerificationForm.mobotp.errors" class="invalid-feedback">
                      <div *ngIf="otpVerificationForm.mobotp.errors.required">Mobile OTP is required</div>
                      <div *ngIf="otpVerificationForm.mobotp.errors.minlength">Mobile OTP must be at least 8 characters</div>
                    </div>
                    <span class="wfm-success float-left" *ngIf="isMobVerified">
                      <img src="../../assets/tick.png" alt="tick" />
                    </span>
                  </div>
                </div>
                <div class="col-md-7 d-flex align-items-end">
                  <button type="submit" (click)="verifyMobile()" [disabled]="mobOtpRequested" *ngIf="!isMobVerified"
                    class="btn btn-outline-primary btn-sm">
                    Verify
                  </button>
                  <span class="wfm-loader float-left ml-3" *ngIf="showLoaderForMob">
                    <mat-spinner diameter="28"></mat-spinner>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group mt-3 mb-0">
              <button type="submit" disabled class="btn btn-secondary btn-sm" *ngIf="!enableSetPwd">
                Proceed
              </button>
              <button type="submit" (click)="stepper.next()" *ngIf="enableSetPwd"
                class="btn btn-success btn-sm">
                Proceed
              </button>
              <button matStepperPrevious type="submit" class="float-right btn btn-outline-dark btn-sm">
                Modify
                Email/Mobile
              </button>
            </div>


          </form>
        </mat-step>
        <mat-step [stepControl]="regPwdSet">
          <ng-template matStepLabel>Set your password</ng-template>
          <form [formGroup]="regPwdSet" (submit)="setRegisterPwd()" *ngIf="!userRegistered">
            <div class="form-group">
              <div class="row">
                <div class="col-md-5">
                  <label for="regpwd">Enter password*</label>
                  <input formControlName="regpwd" type="password" [ngClass]="{ 'is-invalid': passwordSubmitted && passwordSetForm.regpwd.errors }"  class="form-control" name="regpwd" required>
                  <div *ngIf="passwordSubmitted && passwordSetForm.regpwd.errors" class="invalid-feedback">
                    <div *ngIf="passwordSetForm.regpwd.errors.required">password is required</div>
                    <div *ngIf="passwordSetForm.regpwd.errors.minlength">password must be at least 6 characters</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-5">
                  <label for="regconfirmpwd">Confirm password*</label>
                  <input formControlName="regconfirmpwd" type="password" [ngClass]="{ 'is-invalid': passwordSubmitted && passwordSetForm.regconfirmpwd.errors }" class="form-control" name="regconfirmpwd" required>
                  <div *ngIf="passwordSubmitted && passwordSetForm.regconfirmpwd.errors" class="invalid-feedback">
                    <div *ngIf="passwordSetForm.regconfirmpwd.errors.required">password is required</div>
                    <div *ngIf="passwordSetForm.regconfirmpwd.errors.mustMatch">password must match</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group mt-3 mb-0">
              <button type="submit" [disabled]="userPwdSet" class="btn btn-success btn-sm">Submit</button>
            </div>
          </form>
          <div *ngIf="userRegistered">
            <h1>You have successfully registered..!</h1>
            <hr class="my-4">
            <p>Please use your email as username and login from login page.</p>
            <button routerLink="/" type="button" class="btn btn-outline-dark btn-sm float-left">
              Go back to login page
            </button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>
<app-pageloader [showloader]="showloader"></app-pageloader>